{% extends "../sub_base.html" %}
{% block title %}Account Email Sent{% endblock %}
{% block content %}

<div class="container">
    <div>
        <h3 class="mb-4">Account email sent</h3>
        <p>Check your email to activate your account</p>
    </div>
</div>

{% for audio in audio_files %}
{% if audio.account_create_success %}
    <audio id="successAudio" src="{{ audio.account_create_success.url }}" preload="auto"></audio>
{% endif %}
{% endfor %}



<script>
    document.addEventListener('DOMContentLoaded', function () {
        playSuccessAudio();
    });

    function playSuccessAudio() {
        var successAudio = document.getElementById('successAudio');

        if (successAudio) {
            successAudio.play();
        }
    }
</script>


{% endblock %}