{% extends "sub_base.html" %}

{% load static %}

{% block title %}Register Account{% endblock %}

{% block content %}

<style>


body,html{
  background-color: bisque;

}
  .account-form input {
      border: 2px solid #ccc;
      height: calc(2em + .75rem + 2px);
  }

  .account-form input:focus {
      border-color: #1497ff;
      box-shadow: none;
  }

  #togglePassword {
    cursor: pointer;
    user-select: none;
  }

  #togglePassword i {
    font-size: 1em;
  }

</style>

<div class="container">
    <div class="card custom-card">
      <div class="card-body shadow">
        <img class="rounded-pill" src="{% static 'images/Logo.png' %}" style="width:50px;height:50px;" alt="Logo" id="logo"> 
         
          <h2 class="text-center" style="color:blue;text-decoration:underline; font-weight: bold;"> DOPS</h2>
          <h2 class="text-center" style="color:green;text-decoration: solid; font-weight: bold;"> Digital Operations </h2>
          <h6 class="text-center" style="color:rgb(238, 151, 11);text-decoration: solid; font-weight: bold;"> Excellence in Engineering</h6>
          <h4 class="card-title" style="margin-left: 20px;">Create an account</h4>
    
  
        <form class="account-form p-4" action="." method="post" enctype="multipart/form-data">
          {% csrf_token %}
          
          {% if form.errors %}
            <div class="alert alert-danger" role="alert">
              Please correct the following errors:
              <ul>
                {% for field in form %}
                  {% for error in field.errors %}
                    <li>{{ field.label }}: {{ error|striptags }}</li>
                  {% endfor %}
                {% endfor %}
              </ul>
            </div>
          {% endif %}
          
          <div class="form-group">
            <label for="id_name">{{ form.name.label }}<span class="text-muted small">(Required)</span></label>
            {{ form.name }}
          </div>
          
          <div class="form-group">
            <label for="id_email">{{ form.email.label }}<span class="text-muted small">(Required)</span></label>
            {{ form.email }}
          </div>

          <div class="form-group">
            <label for="id_email" style="margin-bottom: 20px;">{{ form.employee.label }}<span class="text-muted small"></span></label>
            {{ form.employee }}
          </div>
          
          <div class="form-group"style="margin-bottom: 20px;">
            <label class="form-label" for="id_password">{{ form.password.label }}</label>
          <div class="input-group">
            <input type="password" name="password" id="id_password" class="form-control">
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fas fa-eye" id="togglePassword" style="height:30px"></i>
              </span>
            </div>
          </div>
            <small class="form-text text-muted mb-4 small">At least 8 characters and 1 digit</small>
          </div>
          
          <div class="form-group" style="margin-bottom: 20px;">
            <label for="id_password2">{{ form.password2.label }}<span class="text-muted small">(Required)</span></label>
            {{ form.password2 }}
          </div>
          
          <div class="form-group">
            <label for="id_profile_picture">{{ form.profile_picture.label }}<span class="text-muted small"></span></label>
            {{ form.profile_picture }}
          </div>
          
          <!-- <button class="btn btn-primary btn-block fw500" type="submit">Register</button> -->
          
        <div class="d-grid gap-2">
          <input type="hidden" name="next" value="{{ next }}">
          <button class="btn btn-primary mt-4 fw-bold" type="submit" value="Log-in">Register
          </button>
        </div>
          
          <p class="text-center">
            <a href="{% url "account:login" %}">Already have an account?</a>
          </p>
        </form>
      </div>
    </div>
  </div>

<div style="height:600px"></div>

  <script>
    var passwordField = document.getElementById("id_password");
  var togglePassword = document.getElementById("togglePassword");

  togglePassword.addEventListener("click", function() {
    if (passwordField.type === "password") {
      passwordField.type = "text";
      togglePassword.classList.remove("fa-eye");
      togglePassword.classList.add("fa-eye-slash");
    } else {
      passwordField.type = "password";
      togglePassword.classList.remove("fa-eye-slash");
      togglePassword.classList.add("fa-eye");
    }
  });
  </script>


{% endblock %}