{% extends "base.html" %}
{% load static %}

{% load duration_filters %}

{% block content %}

<style>
    

  

    table {
            border-collapse: collapse;
            width: 100%;
      
        }

        th, td {
            border: 1px solid rgb(227, 87, 7); /* Set border color for individual cells */
            text-align: left;
            padding: 0px;
        }
        th{
        background-color: rgb(52, 232, 100);
      }
      

    table thead th {
    white-space: normal;
        }

    .main-content {   
    overflow-y: auto;
    margin-left:0px;
    position: absolute;
    width: 100%;
    left: 0;
    top:0;
  
}

#selected-pgrs {
            list-style-type: none;
        }
        #selected-pgrs li {
            margin-bottom: 5px;
        }
</style>
   



<div class="container-fluid main-content" style="margin-top: 120px;">
     <div class="row">           


        <div class="col-12">   
    
            <form method="GET" action="{% url 'adhocman:adhoc_pgr_grand_summary' %}" id="expense-requisition-form" style="margin-bottom:30px">        
            <div class="container-fluid">
                <div class="row row-cols-2 row-cols-md-6">        
                    <div class="col" style="padding:5px;">  Start Date:  {{ form.start_date }} </div>
                    <div class="col" style="padding:5px;">  End Date:  {{ form.end_date }} </div>
                    <div class="col" style="padding:5px;">  no of days {{ form.days }} </div>
                    <div class="col" style="padding:5px;">  Region:{{ form.region }} </div>  
                    <div class="col" style="padding:5px;">  Zone:{{ form.zone }} </div>    
                    <div class="col" style="padding:5px;">  mp:{{ form.mp }} </div>  
                    <div class="col" style="padding:5px;">  PGR:{{ form.pgr }} </div>  
                    <div class="col" style="padding:5px; margin-top:20px; margin-left:30px"> <button type="submit" class='btn btn-primary'>Generate Data</button></div>
                    
                </div>
            </div>                
            </form>
   
 
        </div>  
        
        
        <div class="col-12">
    
            <table>

                <h4 class="text-center">
                    <a href="{% url 'adhocman:view_adhoc_attendance2' %}"> View details:</a>
                    <a href="{% url 'adhocman:pay_pgr_by_name' %}">Make payment</a>:
                    <a href="{% url 'adhocman:create_adhoc_requisition' %}"> Apply for adhoc man</a>
                </h4>
                <thead>
                    <tr>
                      
                        <th  class="text-center p-2" style="white-space: nowrap;">Adhoc Name</th>
                        <th  class="text-center p-2" style="white-space: nowrap;">Adhoc Phone</th>
                        <th  class="text-center p-2" >Adhoc Payment option</th>
                        <th  class="text-center p-2">Adhoc Payment Phone</th>
                    

                        <th  class="text-center p-2" style="white-space: nowrap;">Team Leader</th>
                        <th  class="text-center p-2" >Team Leader Phone</th>
                        <th  class="text-center p-2" style="white-space: nowrap;">Region</th>
                        <th  class="text-center p-2" style="white-space: nowrap;">Zone</th>
                        <th  class="text-center p-2" style="white-space: nowrap;">MP</th>
                        <th  class="text-center p-2" >Total working hours</th>
                        <th  class="text-center p-2" >No of days work</th>
                        <th  class="text-center p-2" style="white-space: nowrap;">Total PGRH</th>
                        <th  class="text-center p-2" >Total TT handle</th>
                        <th  class="text-center p-2" >Total bill amount</th>
                        <th  class="text-center p-2" style="white-space: nowrap;">Action</th>
                        <th  class="text-center p-2" >Total bill paid</th>
                        <th  class="text-center p-2">Net due bill</th>

                        <th  class="text-center p-2">Fuel gap</th>
                        

                      
                     
                    
                    </tr>
                </thead>
                <tbody>
                    {% for pgr, summary in aggregated_data_page %}
                    <tr>
                        <td  class="text-center p-2" style="white-space: nowrap;">{{ pgr}}</td>
                        <td  class="text-center p-2" style="white-space: nowrap;">{{ summary.pgr_phone}}</td>
                        <td  class="text-center p-2" style="white-space: nowrap;">{{ summary.pgr_payment_option}}</td>
                        <td  class="text-center p-2" style="white-space: nowrap;">{{ summary.pgr_payment_number}}</td>
                        <td  class="text-center p-2" style="white-space: nowrap;">{{ summary.pgtl}}</td>
                        <td  class="text-center p-2" style="white-space: nowrap;">{{ summary.team_leader_phone}}</td>
                        <td  class="text-center p-2" style="white-space: nowrap;">{{ summary.region}}</td>
                        <td  class="text-center p-2" style="white-space: nowrap;">{{ summary.zone}}</td>
                        <td  class="text-center p-2" style="white-space: nowrap;">{{ summary.mp}}</td>

                        <td  class="text-center p-2" style="white-space: nowrap;">{{ summary.total_working_hours|floatformat:'2' }}</td>
                        <td  class="text-center p-2" style="white-space: nowrap;">{{ summary.total_working_hours|divide_by:24|floatformat:'2'}}</td>

                        <td class="text-center p-2" style="white-space: nowrap;">{{ summary.total_pg_runhour_handle|floatformat:'2' }}</td>
                        <td  class="text-center p-2" style="white-space: nowrap;">{{ summary.total_tickets_handle|floatformat:'2' }}</td>

                        <td  class="text-center p-2" style="white-space: nowrap;">{{ summary.total_bill_amount|floatformat:'2' }}</td>  
                        {% if summary.adhoc_net_payment_due <= 100.0 %}  
                        <td  class="text-center p-2" style="white-space: nowrap;">Full Paid</td> 
                        {% else %}                                                
                        <td  class="text-center p-2" style="white-space: nowrap;"><a href="{% url 'adhocman:create_adhoc_payment_common' %}">Update Payment</a></td>
                        {% endif %}

                        <td class="text-center p-2" style="white-space: nowrap;">{{ summary.total_bill_paid }}</td>                      
                        <td class="text-center p-2" style="white-space: nowrap;">{{ summary.adhoc_net_payment_due }}</td>
                        {% if summary.total_fuel_difference < 0 %}
                        <td class="text-center p-2" style="white-space: nowrap; background-color: red;">{{ summary.total_fuel_difference}}</td> 
                        {% else %} 
                        <td class="text-center p-2" style="white-space: nowrap; background-color: rgb(180, 246, 160);">{{ summary.total_fuel_difference}}</td>  
                        {% endif %}                                        

                       
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            </div>

       
           </div>  
        </div>   

 
<div class="col" style="height:1200px"></div>






   
<script>
    $(document).ready(function() {
     $('#id_pgr').select2({
         width: '100%',
         ajax: {
             url: "{% url 'dailyexpense:common_search' %}",
             dataType: 'json',
             delay: 250,
             data: function(params) {
                 return {
                     q: params.term
                 };
             },
             processResults: function(data) {
                 return {
                     results: $.map(data.results, function(item) {
                         return {
                             id: item.id,
                             text: item.text
                         };
                     })
                 };
             },
             cache: true
         },
         minimumInputLength: 1,
         placeholder: 'Search',
         allowClear: true
     });
 });
 
 </script>
    

    <script>
        $(document).ready(function(){      
            var regionZoneMapping = {
                'Sylhet': ['','Sylhet', 'Moulovibazar','Mymensingh','Kisorganj','Tangail'], 
                'Rangpur': ['','Rangpur', 'Dinajpur','Bagura','Rajshahi'] ,                          
                
            };
         
            $('#id_region').change(function(){
                var selectedRegion = $(this).val();
                var zoneChoices = regionZoneMapping[selectedRegion];
                $('#id_zone').empty();
                $.each(zoneChoices, function(index, value){
                    $('#id_zone').append($('<option>').text(value).attr('value', value));
                });
            });
                  
            var zoneMpMapping = {              
                'Sylhet': ['','Sylhet','Taherpur','Sunamganj','Bianibazar','Dorbhost','Dherai','Chatak'], // Add more MPs for Sylhet zone
                'Moulovibazar': ['','Moulovibazar', 'Saestaganj','Juri','Baniachong'],
                'Mymensingh': ['','Mymensingh', 'Fulpur','Valuka'] ,
                'Kisorganj': ['','Kisorganj','Katiadi','Netrokona','Mohonpur','Austogram'],
                'Tangail': ['','Tangail','Madhupur','Jamalpur','Sherpur','Bakshihanj','Rowmari'],
               
                'Rangpur':['','Rangpur','Hatibandha','Gaibandha','Ulipur','Boropar','Polasbari'],
                'Dinajpur':['','Dinajpur','Panchghor','Jaldhaka','Thakurgaon'],
                'Rajshahi':['','Rajshahi','Bagura','Nachole','Natore','Chapai'],
                'Bagura':['','Bagura'],
                '': ['']
               
            };
    
       
            $('#id_zone').change(function(){
                $('#id_mp').val('');
                var selectedZone = $(this).val();
                var mpChoices = zoneMpMapping[selectedZone];
    
                $('#id_mp').empty();
                $.each(mpChoices, function(index, value){
                    $('#id_mp').append($('<option>').text(value).attr('value', value));
                });
            });
    
    
    
    });          
    
    </script>
    



{% endblock %}


