{% extends "base.html" %}
{% load static %}


{% block content %}



    <style>

    html, body { 
       font-family: Verdana, sans-serif; 
    
  }


  
  table {
            border-collapse: collapse;
            width: 100%;
      
        }

        th, td {
            border: 1px solid rgb(227, 87, 7); /* Set border color for individual cells */
            text-align: left;
            padding: 0px;
        }
        th{
        background-color: rgb(52, 232, 100);
      }
      

    table thead th {
    white-space: normal;
        }

        #main-content {   
    overflow-y: auto;
    margin-left:0px;
    position: absolute;
    width: 100%;
    left: 0;
  
}

    </style>

    
  
{% if messages %}
<div class="messages">
  {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
      {{ message }}
    </div>
  {% endfor %}
</div>
{% endif %}


<h2>Adhoc Payment Details for {{ adhoc_payment.pgr.name }}</h2>
<form method="get" action="{% url 'adhocman:single_adhoc_payment_view' adhoc_payment.id %}">
    <label for="start_date">Start Date:</label>
    <input type="date" id="start_date" name="start_date" value="{{ start_date|date:'Y-m-d' }}">
    
    <label for="end_date">End Date:</label>
    <input type="date" id="end_date" name="end_date" value="{{ end_date|date:'Y-m-d' }}">

    <button class="btn btn-primary" type="submit">Filter</button>
</form>



    <h4 class="text-center" style="margin-top:10px">DOPS form</h4>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                
    <table>
        <thead>
            <tr>
                <th class="text-center p-2" >Date</th>
                <th class="text-center p-2" >PGR Name</th>
                <th class="text-center p-2" >Payment Mode</th>
                <th class="text-center p-2" >Transaction ID</th>
                <th class="text-center p-2" >Paid Amount</th>
                <th class="text-center p-2" >Supporting Document</th>
            </tr>
        </thead>
        <tbody>
            {% for payment in payments %}
            <tr>
                <td class="text-center p-2" >{{ payment.created_at }}</td>
                <td class="text-center p-2" > {{ payment.pgr.name }}</td>
                <td class="text-center p-2" >{{ payment.payment_mode }}</td>
                <td class="text-center p-2" >{{ payment.transaction_id }}</td>
                <td class="text-center p-2" >{{ payment.adhoc_paid_amount }}</td>
                <td class="text-center p-2" >
                    {% if payment.payment_supporting_document %}
                    <a href="{{ payment.payment_supporting_document.url }}" target="_blank">
                        <img src="{{ payment.payment_supporting_document.url }}" alt="Supporting Document" style="width: 50px; height: 50px;">
                    </a>
                    {% else %}
                    No file available
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


            </div>
            
          
            
        </div>
    </div>
   





<div class="col" style="height:600px"></div>

    

  
<script>
    $(document).ready(function(){      
        var regionZoneMapping = {
            'Sylhet': ['','Sylhet', 'Moulovibazar','Mymensingh','Kisorganj','Tangail'], 
            'Rangpur': ['','Rangpur', 'Dinajpur','Bagura','Rajshahi'] ,                          
            
        };
     
        $('#id_region').change(function(){
            var selectedRegion = $(this).val();
            var zoneChoices = regionZoneMapping[selectedRegion];
            $('#id_zone').empty();
            $.each(zoneChoices, function(index, value){
                $('#id_zone').append($('<option>').text(value).attr('value', value));
            });
        });
              
        var zoneMpMapping = {              
            'Sylhet': ['','Sylhet','Taherpur','Sunamganj','Bianibazar','Dorbhost','Dherai','Chatak'], // Add more MPs for Sylhet zone
            'Moulovibazar': ['','Moulovibazar', 'Saestaganj','Juri','Baniachong'],
            'Mymensingh': ['','Mymensingh', 'Fulpur','Valuka'] ,
            'Kisorganj': ['','Kisorganj','Katiadi','Netrokona','Mohonpur','Austogram'],
            'Tangail': ['','Tangail','Madhupur','Jamalpur','Sherpur','Bakshihanj','Rowmari'],
           
            'Rangpur':['','Rangpur','Hatibandha','Gaibandha','Ulipur','Boropar','Polasbari'],
            'Dinajpur':['','Dinajpur','Panchghor','Jaldhaka','Thakurgaon'],
            'Rajshahi':['','Rajshahi','Bagura','Nachole','Natore','Chapai'],
            'Bagura':['','Bagura'],
            '': ['']
           
        };

   
        $('#id_zone').change(function(){
            $('#id_mp').val('');
            var selectedZone = $(this).val();
            var mpChoices = zoneMpMapping[selectedZone];

            $('#id_mp').empty();
            $.each(mpChoices, function(index, value){
                $('#id_mp').append($('<option>').text(value).attr('value', value));
            });
        });



});          

</script> 



{% endblock %}



