
{% extends "base.html" %}
{% load static %}



{% block content %}


    <title>MP report view</title>


    <style>

        table {
            border-collapse: collapse;
            width: 100%;
        
        }
        
        th, td {
            border: 1px solid black; /* Set border color for individual cells */
            text-align: left;
            padding: 0px;
        }
        
        th {
            background-color: rgb(10, 123, 63);
            color:white;
        }
        
        table thead th {
        white-space: normal;
        }
        
        
        
        </style>





<h4 class="text-center">Daily Operational Expense Analysis</h4>

<form method="GET" action="{% url 'dailyexpense:daily_expense_summary' %}">
    <div class="container-fluid">
        <div class="row row-cols-2 row-cols-md-6">
            <div class="col" style="padding:5px;" >Start Date: {{ form.start_date }}</div>
            <div class="col" style="padding:5px;">End Date: {{ form.end_date }}</div>
            <div class="col" style="padding:5px;">No of days: {{ form.days }}</div>
            <div class="col" style="padding:5px;">Region: {{ form.region }}</div>
            <div class="col" style="padding:5px;">Zone: {{ form.zone }}</div>
            <div class="col" style="padding:5px;">MP: {{ form.mp }}</div>
            <div class="col" style="padding:5px;">
                <button type="submit" class="btn btn-primary">Generate Data</button>
            </div>
        </div>
    </div>
</form>

<div style="left:0px; margin-left:0px">
    <h4 style="margin-top:40px; margin-bottom:30px; margin-left:0px">
        Data for
        {% if days %}
            the last {{ days }} days
        {% elif form.cleaned_data.start_date and form.cleaned_data.end_date %}
            from: {{ form.cleaned_data.start_date }} to {{ form.cleaned_data.end_date }}
        {% endif %}
    </h4>
</div>



<div class="container">
    <div class="row">
        <div class="col-xl-12">

            <h4> Summary at a galance</h4>          

            <table>
                <thead>
                    <tr>
                        <th class="text-center p-2">Total requisition Amount</th>
                        <th class="text-center p-2">Total approved amount</th>

                        <th class="text-center p-2">Total PG local fuel purchase</th>
                        <th class="text-center p-2">Total Vehicle local fuel purchase</th>

                        <th class="text-center p-2">Total local conveyance</th>
                        <th class="text-center p-2">Total PG carrying cost</th>
                        <th class="text-center p-2">Total food bill</th>
                        <th class="text-center p-2">Total toll</th>
                        <th class="text-center p-2">Total night bill</th>
                                           
                    </tr>
                </thead>
            <tbody>

                <tr>
                    <td class="text-center p-2">{{ total_requisition_amount_count}}</td>
                    <td class="text-center p-2">{{ total_approved_amount_count}}</td>

                    <td class="text-center p-2">{{ pg_local_fuel_purchase }}</td>
                    <td class="text-center p-2">{{ vehicle_local_fuel_purchase }}</td>

                    <td class="text-center p-2">{{ local_conveyance_amount }}</td>
                    <td class="text-center p-2">{{pg_carrying_cost_amount }}</td>
                    <td class="text-center p-2">{{ food_amount}}</td>
                    <td class="text-center p-2">{{ toll_amount }}</td>
                    <td class="text-center p-2">{{ night_bill_amount }}</td>
                  
                </tr>
            </tbody>
            </table>
        </div>
        <div class="col-xl-12" style="margin-top:30px">
            
<table>
    <thead>
        <h4>Region zone mp wise local expenses</h4>
        <tr>
            <th class="text-center p-2">Region</th>
            <th class="text-center p-2">Zone</th>
            <th class="text-center p-2">MP</th>
            <th class="text-center p-2">Total Requisition Amount</th>
            <th class="text-center p-2">Total Approved Amount</th>

            <th class="text-center p-2">Total PG local fuel purchase</th>
            <th class="text-center p-2">Total Vehicle local fuel purchase</th>


            <th class="text-center p-2" >Local Conveyance Amount</th>
            <th class="text-center p-2">PG Carrying Cost Amount</th>
            <th class="text-center p-2">Toll Amount</th>
            <th class="text-center p-2">Food Amount</th>
            <th class="text-center p-2">Night Bill Amount</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in grouped_summary_data %}
        <tr>
            <td class="text-center p-2">{{ entry.region }}</td>
            <td class="text-center p-2">{{ entry.zone }}</td>
            <td class="text-center p-2">{{ entry.mp }}</td>
            <td class="text-center p-2" >{{ entry.total_requisition_amount }}</td>
            <td class="text-center p-2">{{ entry.total_approved_amount }}</td>
           
            <td class="text-center p-2">{{ entry.pg_local_fuel_purchase }}</td>
            <td class="text-center p-2">{{ entry.vehicle_local_fuel_purchase }}</td>

            <td class="text-center p-2">{{ entry.local_conveyance_amount }}</td>
            <td class="text-center p-2">{{ entry.pg_carrying_cost_amount }}</td>
            <td class="text-center p-2">{{ entry.toll_amount }}</td>
            <td class="text-center p-2">{{ entry.food_amount }}</td>
            <td class="text-center p-2">{{ entry.night_bill_amount }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

        </div>
    </div>
</div>











  
  

  <div class="col" style="height:1000px"></div>



<script>
    $(document).ready(function() {
        $('#id_mp,#id_pgnumber,#id_vehicle').select2({
            width: '70%', 
            ajax: {
                url: "{% url 'dailyexpense:common_search' %}",
                dataType: 'json',
                delay: 250,
                data: function(params) {
                    return {
                        q: params.term
                    };
                },
                processResults: function(data) {
                    return {
                        results: data.results
                    };
                },
                cache: true
            },
            minimumInputLength: 1, 
            placeholder: 'Search ',
            allowClear: true
        });
    });
</script>






<script>
    $(document).ready(function(){      
        var regionZoneMapping = {
            'Sylhet': ['','Sylhet', 'Moulovibazar','Mymensingh','Kisorganj','Tangail'], 
            'Rangpur': ['','Rangpur', 'Dinajpur','Bagura','Rajshahi'] ,                          
            
        };
     
        $('#id_region').change(function(){
            var selectedRegion = $(this).val();
            var zoneChoices = regionZoneMapping[selectedRegion];
            $('#id_zone').empty();
            $.each(zoneChoices, function(index, value){
                $('#id_zone').append($('<option>').text(value).attr('value', value));
            });
        });
              
        var zoneMpMapping = {              
            'Sylhet': ['','Sylhet','Taherpur','Sunamganj','Bianibazar','Dorbhost','Dherai','Chatak'], // Add more MPs for Sylhet zone
            'Moulovibazar': ['','Moulovibazar', 'Saestaganj','Juri','Baniachong'],
            'Mymensingh': ['','Mymensingh', 'Fulpur','Valuka'] ,
            'Kisorganj': ['','Kisorganj','Katiadi','Netrokona','Mohonpur','Austogram'],
            'Tangail': ['','Tangail','Madhupur','Jamalpur','Sherpur','Bakshihanj','Rowmari'],
           
            'Rangpur':['','Rangpur','Hatibandha','Gaibandha','Ulipur','Boropar','Polasbari'],
            'Dinajpur':['','Dinajpur','Panchghor','Jaldhaka','Thakurgaon'],
            'Rajshahi':['','Rajshahi','Bagura','Nachole','Natore','Chapai'],
            'Bagura':['','Bagura'],
            '': ['']
           
        };

   
        $('#id_zone').change(function(){
            $('#id_mp').val('');
            var selectedZone = $(this).val();
            var mpChoices = zoneMpMapping[selectedZone];

            $('#id_mp').empty();
            $.each(mpChoices, function(index, value){
                $('#id_mp').append($('<option>').text(value).attr('value', value));
            });
        });



});          

</script> 


  {% endblock %}