
{% extends "base.html" %}
{% load static %}



{% block content %}

    <title>Create resource</title>


    <style>


@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;900&display=swap');

html, body { 
       font-family: Verdana, sans-serif; 
     
  }

    </style>

  

    
    <h4 class="text-center" style="margin-top:10px">DOPS form</h4>
    <div class="container-fluid">
        <div class="row row-cols-1 row-cols-md-3 p-2">
            <div class="col"></div>
            <div class="col-md-6"> <!-- Adjust the width for medium screens -->
                <div class="card" style="background-color: bisque; padding:10px;">
                    <div class="card-body">
                        <h4 class="card-title" style="margin-bottom:20px">Add or update resource</h4>
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.as_p }}
                        
                            <div><button type="submit" class="btn btn-primary">Submit</button></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
    
    

    <script>
        $(document).ready(function(){      
            var regionZoneMapping = {
                'Sylhet': ['','Sylhet', 'Moulovibazar','Mymensingh','Kisorganj','Tangail'], 
                'Rangpur': ['','Rangpur', 'Dinajpur','Bagura','Rajshahi'] ,                          
                
            };
         
            $('#id_region').change(function(){
                var selectedRegion = $(this).val();
                var zoneChoices = regionZoneMapping[selectedRegion];
                $('#id_zone').empty();
                $.each(zoneChoices, function(index, value){
                    $('#id_zone').append($('<option>').text(value).attr('value', value));
                });
            });
                  
            var zoneMpMapping = {              
                'Sylhet': ['','Sylhet','Taherpur','Sunamganj','Bianibazar','Dorbhost','Dherai','Chatak'], // Add more MPs for Sylhet zone
                'Moulovibazar': ['','Moulovibazar', 'Saestaganj','Juri','Baniachong'],
                'Mymensingh': ['','Mymensingh', 'Fulpur','Valuka'] ,
                'Kisorganj': ['','Kisorganj','Katiadi','Netrokona','Mohonpur','Austogram'],
                'Tangail': ['','Tangail','Madhupur','Jamalpur','Sherpur','Bakshihanj','Rowmari'],
               
                'Rangpur':['','Rangpur','Hatibandha','Gaibandha','Ulipur','Boropar','Polasbari'],
                'Dinajpur':['','Dinajpur','Panchghor','Jaldhaka','Thakurgaon'],
                'Rajshahi':['','Rajshahi','Bagura','Nachole','Natore','Chapai'],
                'Bagura':['','Bagura'],
                '': ['']
               
            };
    
       
            $('#id_zone').change(function(){
                $('#id_mp').val('');
                var selectedZone = $(this).val();
                var mpChoices = zoneMpMapping[selectedZone];
    
                $('#id_mp').empty();
                $.each(mpChoices, function(index, value){
                    $('#id_mp').append($('<option>').text(value).attr('value', value));
                });
            });
    
    
    
    });          
    
    </script> 
    
    

{% endblock %}