
{% extends "base.html" %}
{% load static %}



{% block content %}

    <title>Create resource</title>


    <style>


@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;900&display=swap');

html, body { 
       font-family: Verdana, sans-serif; 
     
  }

    </style>

  

    
    <h4 class="text-center" style="margin-top:10px">DOPS form</h4>
    <div class="container-fluid">
        <div class="row row-cols-1 row-cols-md-3 p-2">
            <div class="col"></div>
            <div class="col-md-6"> <!-- Adjust the width for medium screens -->
                <div class="card" style="background-color: bisque; padding:10px;">
                    <div class="card-body">
                        <h4 class="card-title" style="margin-bottom:20px">Add or update resource</h4>
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.as_p }}
                        
                            <div><button type="submit" class="btn btn-primary">Submit</button></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
    
    

    <script>
        $(document).ready(function() {
            $('#id_region, #id_zone ,#id_mp').select2({
                width: '100%', 
                ajax: {
                    url: "{% url 'dailyexpense:common_search' %}",
                    dataType: 'json',
                    delay: 250,
                    data: function(params) {
                        return {
                            q: params.term
                        };
                    },
                    processResults: function(data) {
                        return {
                            results: data.results
                        };
                    },
                    cache: true
                },
                minimumInputLength: 1, 
                placeholder: 'Search ',
                allowClear: true
            });
        });
    </script>
    


{% endblock %}