
 
{% extends "base.html" %}
{% load static %}


{% block content %}



<style>

table {
    border-collapse: collapse;
    width: 100%;

}

th, td {
    border: 1px solid black; /* Set border color for individual cells */
    text-align: left;
    padding: 0px;
}

th {
    background-color: rgb(13, 151, 72);
    color:white;
}

table thead th {
white-space: normal;
}
#main-content {   
    overflow-y: auto;
    margin-left:0px;
    position: absolute;
    width: 100%;
    left: 0;
  
}

.main-content {   
    overflow-y: auto;
    margin-left:0px;
    position: absolute;
    width: 100%;
    left: 0;
  
}


</style>



<h4 class="text-center">Region wise resource Summary</h4>


<div class="col" style="height:20px"></div>

<div class="container-fluid main-content">
    <div class="row">
        <div class="col-12">

            {% if total_site %}

            <h4> Summary at a galance</h4>

            <table>
                <thead>
                    <tr>
                        <th class="text-center p-2">Total site</th>
                        <th class="text-center p-2">Total KPI site</th>
                        <th class="text-center p-2">Total good PG</th>
                        <th class="text-center p-2">Total faulty PG</th>
                        <th class="text-center p-2">Total PGR</th>     
                        <th class="text-center p-2">Total operational Head Count</th>                     
                    </tr>
                </thead>
            <tbody>

                <tr>
                    <td class="text-center p-2">{{ total_site }}</td>
                    <td class="text-center p-2">{{ total_KPI_site }}</td>
                    <td class="text-center p-2">{{ total_good_PG }}</td>
                    <td class="text-center p-2">{{ total_faulty_PG }}</td>
                    <td class="text-center p-2">{{ total_PG_ranar }}</td>
                    <td class="text-center p-2">{{ total_head_count }}</td>
                </tr>
            </tbody>
            </table>

            {% endif %}
        </div>


        <div class="col-12">
       
        
        {% for region, zone_data in grouped_summary_data.items %}
                          
            <h4 style="margin-top:20px">Region: {{ region }}</h4>
            <table border="1">
                <thead>
                    <tr>
                        <th class="text-center p-2">Region</th>
                        <th class="text-center p-2">Zone</th>

                        <th class="text-center p-2">Total site</th>
                        <th class="text-center p-2">no of KPI site</th>
                        <th class="text-center p-2">KPI site %</th>

                        <th class="text-center p-2">no of PGTL</th>                   
                        <th class="text-center p-2">no of PGR</th>
                        <th class="text-center p-2">no of Adhoc PGR</th>

                        <th class="text-center p-2">no of good PG</th>
                        <th class="text-center p-2">no of faulty PG</th>
                        <th class="text-center p-2">Faulty PG %</th>
                   
                        <th class="text-center p-2">no of vehicle</th>                   
                        <th class="text-center p-2">no of adhoc vehicle</th>
                        <th class="text-center p-2">no of PG repairman</th>

                        <th class="text-center p-2">no of DG repairman</th>

                        <th class="text-center p-2">no of of operational Executive</th>
                        <th class="text-center p-2">no of admin account executive</th>
                        <th class="text-center p-2">no of manager</th>                   
                        <th class="text-center p-2">no of other staff</th>
                        <th class="text-center p-2">Total head count</th>



                       
                    </tr>
                </thead>
                <tbody>
                    {% for item in zone_data %}
                    <tr>
                        <td class="text-center p-2">{{ item.region }}</td>
                        <td class="text-center p-2">{{ item.zone }}</td>
                        <td class="text-center p-2">{{ item.total_site }}</td>
                        <td class="text-center p-2">{{ item.no_of_KPI_site }}</td>

                        {% if item.KPI_site_percentage > 30 %}
                        <td class="text-center p-2" style="background-color: red;" >{{ item.KPI_site_percentage|floatformat:'2' }}%</td>
                        {% else %}
                        <td class="text-center p-2" >{{ item.KPI_site_percentage|floatformat:'2' }}%</td>
                        {% endif %}

                        <td class="text-center p-2">{{ item.num_of_PGTL }}</td>
                        <td class="text-center p-2">{{ item.num_of_PGR }}</td>
                        <td class="text-center p-2">{{ item.num_of_adhoc_PGR }}</td>

                        <td class="text-center p-2">{{ item.num_of_good_PG }}</td>
                        <td class="text-center p-2">{{ item.num_of_faulty_PG }}</td>  
                       
                       {% if item.faulty_PG_percentage > 20 %}     
                        <td class="text-center p-2" style="background-color: red;">{{ item.faulty_PG_percentage|floatformat:'2' }}%</td>                   
                       {% else %}
                       <td class="text-center p-2" style="background-color: rgb(80, 246, 3);">{{ item.faulty_PG_percentage|floatformat:'2' }}%</td>                   
                       {% endif %}
                       <td class="text-center p-2">{{ item.num_of_vehicle }}</td>
                        <td class="text-center p-2">{{ item.num_of_adhoc_vehicle }}</td>
                        <td class="text-center p-2">{{ item.num_of_PG_repair_technician }}</td>

                        <td class="text-center p-2">{{ item.num_of_DG_repair_technician }}</td>

                        
                        <td class="text-center p-2">{{ item.num_of_operational_executive }}</td>
                        <td class="text-center p-2">{{ item.num_of_admin_account_executive }}</td>
                        <td class="text-center p-2">{{ item.num_of_manager }}</td>
                        <td class="text-center p-2">{{ item.num_of_other_staff }}</td>
                        <td class="text-center p-2">{{ item.total_human_resource }}</td>
                      
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
       
        {% endfor %}

       
    </div>
</div>
</div>

 


<div class="col" style="height:1200px"></div>

{% endblock %}