{% extends "base.html" %}
{% load static %}



{% block content %}

<title>View Ticket</title>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <style>


table {
            border-collapse: collapse;
            width: 100%;
        
        }
        
        th, td {
            border: 1px solid black; /* Set border color for individual cells */
            vertical-align: middle;
            padding: 0px;
        }
        
        th {
          background-color: rgb(12, 115, 32);
           
        }
        
        table thead th {
        white-space: normal;
        }
        
 #main-content {   
    overflow-y: auto;
    margin-left:0px;
    position: absolute;
    width: 100%;
    left: 0;
  
}


</style>


<h4>MP wise resource Summary</h4>

    <form method="GET" action="{% url 'employee:view_resource' %}">

    <div class="container-fluid">
        <div class="row row-cols-1 row-cols-md-4">

         <div class="col" style="padding:5px; margin:5px">  Region:{{ form.region }} </div>  
         <div class="col" style="padding:5px; margin:5px">  Zone:{{ form.zone }} </div>    
         <div class="col" style="padding:5px; margin:5px">  mp:{{ form.mp }} </div>    

         <div class="col" style="padding:5px; margin:5px"> <button type="submit" class='btn btn-primary'>Generate Data</button></div>
           
        </div>
    </div>
      
    </form>





    <div class="container-fluid" id="main-content">
        <div class="row">
            <div class="col-12"> 
                <table class="table">
                    <h4>Resource Summary: <a  href="{% url 'employee:view_resource_summary' %}">View Zonewise resource</a></h4>
                    <thead style="background-color: rgb(46, 222, 128);">
                        <tr>
                         
                            <th class="text-center p-2">Action</th>                                                
                        
                            <th class="text-center p-2">Region</th>                           
                            <th class="text-center p-2">Zone</th>
                            <th class="text-center p-2">MP</th>
                            <th class="text-center p-2">Total site</th>
                            <th class="text-center p-2">KPI site</th>
                            <th class="text-center p-2">KPI site %</th>

                            <th class="text-center p-2">PGR</th>
                            <th class="text-center p-2">PGTL</th>
                            <th class="text-center p-2">Adhoc PGR</th>                            
                            <th class="text-center p-2">good PG</th>
                            <th class="text-center p-2">Faulty PG</th>
                            <th class="text-center p-2">Faulty PG %</th>                           
                            <th class="text-center p-2">vehcile</th>
                            <th class="text-center p-2">adhoc vehicle</th>

                            <th class="text-center p-2">PG Tech</th>
                            <th class="text-center p-2"> DG Tech</th>                         
                            <th class="text-center p-2">Admin Executive</th>
                            <th class="text-center p-2">Account executive</th>

                            <th class="text-center p-2">RM</th>
                            <th class="text-center p-2"> ZM</th>                         
                            <th class="text-center p-2">AZM</th>

                            <th class="text-center p-2">Ebill </th>
                            <th class="text-center p-2"> Reporter</th>                         
                            <th class="text-center p-2">PM engineer</th>

                            <th class="text-center p-2">Riger</th>
                            <th class="text-center p-2"> RMS</th>                         
                            <th class="text-center p-2">Solar</th>

                            <th class="text-center p-2">Rectifier</th>
                            <th class="text-center p-2"> DGOW runner</th>                         
                            <th class="text-center p-2">Patroller</th>

                            <th class="text-center p-2">AC IBS</th>
                      
                            <th class="text-center p-2">Total head Count</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for resource in resource_data %}
                      
                        <tr style="background-color: rgb(241, 247, 248); color:black">
               
                            <td style="white-space: nowrap; font-size: 14px;"><a  href="{% url 'employee:update_resource' resource.id %}">Update Resource</a></td>                     
                            <td class="text-center" style="font-size: 14px;">{{ resource.region }}</td>
                            <td class="text-center" style="font-size: 14px;">{{ resource.zone }}</td>
                            <td class="text-center" style="font-size: 14px;">{{ resource.mp }}</td>
                            <td class="text-center" style="font-size: 14px;">{{ resource.total_site }}</td>
                            <td class="text-center" style="font-size: 14px;">{{ resource.no_of_KPI_site }}</td>   
                            
                            {% if resource.kpi_site_percentage >= 40 %}
                            <td class="text-center" style="font-size: 14px;background-color: coral;">{{ resource.kpi_site_percentage|floatformat:2 }}%</td>
                            {% else %}
                            <td class="text-center" style="font-size: 14px;background-color: rgb(160, 238, 83);">{{ resource.kpi_site_percentage|floatformat:2 }}%</td>
                            {% endif %}
                            <td class="text-center" style="font-size: 14px;">{{  resource.num_of_PGR }}</td>  
                            <td class="text-center" style="font-size: 14px;">{{  resource.num_of_PGTL }}</td>                          
                            <td class="text-center" style="font-size: 14px;">{{  resource.num_of_adhoc_PGR }}</td>                            
                            <td class="text-center" style="font-size: 14px;">{{  resource.dynamic_num_of_good_PG }}</td>                            
                            <td class="text-center" style="font-size: 14px;">{{  resource.dynamic_num_of_faulty_PG }}</td>

                            {% if resource.faulty_PG_percentage %}
                            {% with faulty_percentage=resource.faulty_PG_percentage|add:"0" %}
                                {% if faulty_percentage > 20.00 %}
                                    <td class="text-center" style="font-size: 14px; background-color: red;">
                                        {{ faulty_percentage }}%
                                    </td>
                                {% else %}
                                    <td class="text-center" style="font-size: 14px; background-color: white;">
                                        {{ faulty_percentage }}%
                                    </td>
                                {% endif %}
                            {% endwith %}
                        {% else %}
                            <td class="text-center" style="font-size: 14px;">N/A</td>
                        {% endif %}                        
                                                   
                            <td class="text-center" style="font-size: 14px;">{{  resource.num_of_vehicle }}</td>
                            <td class="text-center" style="font-size: 14px;">{{  resource.num_of_adhoc_vehicle }}</td> 
                            
                            <td class="text-center" style="font-size: 14px;">{{  resource.num_of_PG_repair_technician }}</td>                           
                            <td class="text-center" style="font-size: 14px;">{{  resource.num_of_DG_repair_technician }}</td> 
                            <td class="text-center" style="font-size: 14px;">{{  resource.num_of_admin_executive }}</td>
                            <td class="text-center" style="font-size: 14px;">{{  resource.num_of_account_executive }}</td>

                            <td class="text-center" style="font-size: 14px;">{{  resource.num_of_RM }}</td>                           
                            <td class="text-center" style="font-size: 14px;">{{  resource.num_of_ZM }}</td> 
                            <td class="text-center" style="font-size: 14px;">{{  resource.num_of_AZM }}</td>
                           
                            <td class="text-center" style="font-size: 14px;">{{  resource.num_of_ebill }}</td>                           
                            <td class="text-center" style="font-size: 14px;">{{  resource.num_of_reporter }}</td> 
                            <td class="text-center" style="font-size: 14px;">{{  resource.num_of_PM_engineer }}</td>

                            <td class="text-center" style="font-size: 14px;">{{  resource.num_of_riger }}</td>                           
                            <td class="text-center" style="font-size: 14px;">{{  resource.num_of_RMS_technician }}</td> 
                            <td class="text-center" style="font-size: 14px;">{{  resource.num_of_solar_expert }}</td>
                            <td class="text-center" style="font-size: 14px;">{{  resource.num_of_rectifier_expert }}</td> 

                            <td class="text-center" style="font-size: 14px;">{{  resource.num_of_DGOW_runner }}</td> 
                            <td class="text-center" style="font-size: 14px;">{{  resource.num_of_petroller }}</td>             
                            <td class="text-center" style="font-size: 14px;">{{  resource.num_of_AC_IBS }}</td>                          
                            <td class="text-center" style="font-size: 14px;">{{  resource.total_human_resource }}</td>
                            
                     </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <div class="pagination" style="padding:10px">
                    {% if page_obj.has_previous %}
                        <a style="margin:10px; font-size: 14px;" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    {% endif %}
                    
                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <span style="margin:10px; font-size:14px">{{ num }}</span>
                        {% else %}
                            <a style="margin:10px; font-size:14px"href="?page={{ num }}">{{ num }}</a>
                        {% endif %}
                    {% endfor %}
                    
                    {% if page_obj.has_next %}
                        <a style="margin:10px; font-size:14px"href="?page={{ page_obj.next_page_number }}">Next</a>
                    {% endif %}
                </div>

                
            </div>
        </div>
    </div> 
    
    



    <div class="col" style="height:900px"></div>
        









    
<script>


    $(document).ready(function(){      
      var regionZoneMapping = {
          'Sylhet': ['','Sylhet', 'Moulovibazar','Mymensingh','Kisorganj','Tangail'], 
          'Rangpur': ['','Rangpur', 'Dinajpur','Bagura','Rajshahi'] ,                          
          
      };
   
      $('#id_region').change(function(){
          var selectedRegion = $(this).val();
          var zoneChoices = regionZoneMapping[selectedRegion];
          $('#id_zone').empty();
          $.each(zoneChoices, function(index, value){
              $('#id_zone').append($('<option>').text(value).attr('value', value));
          });
      });
            
      var zoneMpMapping = {              
          'Sylhet': ['','Sylhet','Taherpur','Sunamganj','Bianibazar','Dorbhost','Dherai','Chatak'], // Add more MPs for Sylhet zone
          'Moulovibazar': ['','Moulovibazar', 'Saestaganj','Juri','Baniachong'],
          'Mymensingh': ['','Mymensingh', 'Fulpur','Valuka'] ,
          'Kisorganj': ['','Kisorganj','Katiadi','Netrokona','Mohonpur','Austogram'],
          'Tangail': ['','Tangail','Madhupur','Jamalpur','Sherpur','Bakshihanj','Rowmari'],
         
          'Rangpur':['','Rangpur','Hatibandha','Gaibandha','Ulipur','Boropar','Polasbari'],
          'Dinajpur':['','Dinajpur','Panchghor','Jaldhaka','Thakurgaon'],
          'Rajshahi':['','Rajshahi','Bagura','Nachole','Natore','Chapai'],
          'Bagura':['','Bagura'],
          '': ['']
         
      };
  
  
      $('#id_zone').change(function(){
          $('#id_mp').val('');
          var selectedZone = $(this).val();
          var mpChoices = zoneMpMapping[selectedZone];
  
          $('#id_mp').empty();
          $.each(mpChoices, function(index, value){
              $('#id_mp').append($('<option>').text(value).attr('value', value));
          });
      });
      
  });
  
  </script>
{% endblock %}