{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TT management</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet">
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<style>

    html,body{
        background-color: aquamarine;
    }

</style>

</head>



<body>

<h4 style="margin-top:40px"></h4>

<div class="container mt-5">  
    <div class="card shadow p-4">
      <div class="card-body">     

        <div class="form-group" style="text-align: center;">
          <img class="rounded-pill" src="{% static 'images/Logo.png' %}" style="width:50px;height:50px;" alt="Logo" id="logo"> 
         
          <h2 class="text-center" style="color:blue;text-decoration:underline; font-weight: bold;"> DOPS</h2>
          <h2 class="text-center" style="color:green;text-decoration: solid; font-weight: bold;"> Digital Operations </h2>
          <h4 class="text-center" style="color:rgb(238, 151, 11);text-decoration: solid; font-weight: bold;"> Excellence in Engineering</h4>
          <h4 class="mb-2 mt-4 text-danger">Sorry, You require administrative permission to access this page. Please contact with admin.</h4>
        </div>
               
      
      </div>
    </div>










  
</body>

</html>