
{% extends "base.html" %}
{% load static %}



{% block content %}


    <title>Create Ticket</title>
   
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <style>


@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;900&display=swap');

html, body { 
       font-family: Verdana, sans-serif; 
     
  }

    </style>

<body>

<div>

    {% if messages %}
    <div class="alert alert-success" role="alert">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
</div>


    <h1 class ='text-center'>Create region zone mp</h1>

    <div class="container-fluid">
        <div class="row row-cols-1 row-cols-md-3">
            <div class="d-none d-md-block col-md-3"></div>    
              <div class="col-ms-12 col-md-6">
                <div class="card" style="margin:20px;padding:20px;background-color: bisque;">
                    <div class="card-body">
                        <h5 class="card-title">Add region zone mp</h5>                                           
                        <form method="post">
                            {% csrf_token %}
                            <div style="margin:5px; padding:5px">
                                {{ form.region_id.label_tag }}
                                {{ form.region_id }}
                            </div>
                            <div style="margin:5px; padding:5px">
                                {{ form.region_name.label_tag }}
                                {{ form.region_name }}
                            </div>
                            <div style="margin:5px; padding:5px">
                                {{ form.zone_id.label_tag }}
                                {{ form.zone_id }}
                            </div>
                            <div style="margin:5px; padding:5px">
                                {{ form.zone_name.label_tag }}
                                {{ form.zone_name }}
                            </div>
                            <div style="margin:5px; padding:5px">
                                {{ form.mp_name.label_tag }}
                                {{ form.mp_name }}
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>

                    </div>
                </div>
                

            </div>
            <div class="d-none d-md-block col-md-3"></div>  
        </div>
    </div>


    <div class="col" style="height:1200px"></div>
 


    <script>
        $(document).ready(function() {
            $('#id_region_id').change(function() {
                var selectedRegion = $('#id_region_id option:selected').text();
                if (selectedRegion) {
                    $('#id_region_name').val(selectedRegion);
                }
            });

            $('#id_region_name').focus(function() {
                $('#id_region_id').val('');
            });

            $('#id_zone_id').change(function() {
                var selectedZone = $('#id_zone_id option:selected').text();
                if (selectedZone) {
                    $('#id_zone_name').val(selectedZone);
                }
            });

            $('#id_zone_name').focus(function() {
                $('#id_zone_id').val('');
            });
        });
    </script>

{% endblock %}