
{% extends "base.html" %}
{% load static %}



{% block content %}


<style>
    /* Define grid layout */
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 5px;
        padding: 5px;
    }

    /* Style cards */
    .card {
        background-color: #f0f0f0;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .main-content {   
    overflow-y: auto;
    margin-left:0px;
    position: absolute;
    width: 100%;
    left: 10;

  
}
</style>

<h4 class=" text-center" style="margin-top:10px">DOPS DASHBOARD</h4>



 <div class="container main-content">
    <div class="row row-cols-3 row-cols-md-6 ">

        <div class="card" style="background-color: white;border-radius:20px;border:2px solid blue; height:100px">
        <a class="text-center" style="text-decoration: none;" href="{% url 'tickets:tt_management' %}">
            <i class="fa fa-eye" aria-hidden="true"></i>
            <br>TT Manager</a>
        </div>     

        <!-- Vehicle management-->

        <div class="card" style="background-color: white;border-radius:20px;border:2px solid blue; height:100px">
            <a class="text-center" style="text-decoration: none;" href="{% url 'vehicle:fleet_management' %}">
                <i class="fas fa-truck-pickup"></i>
                <br>Fleet Manager</a>
        </div>  
        
         <!-- PG management-->
    
        <div class="card" style="background-color: white;border-radius:20px;border:2px solid blue; height:100px">
        <a class="text-center" style="text-decoration: none;" href="{% url 'generator:pg_management' %}">
            <i class="fa fa-cogs" aria-hidden="true"></i>
            <br>Generators Manager</a>
        </div>
            
        <div class="card" style="background-color: white;border-radius:20px;border:2px solid blue; height:100px">
            <a class="text-center" style="text-decoration: none;" href="{% url 'adhocman:adhoc_management_dashboard' %}">
                <i class="fas fa-user"></i>
                <br>Adhoc man manager</a>
        </div>    
                  
    <!-- money_requisition -->

    <div class="card" style="background-color: white;border-radius:20px;border:2px solid blue; height:100px">
            <a class="text-center" style="text-decoration: none;" href="{% url 'dailyexpense:expense_advance_management' %}">
                <i class="fa fa-calculator" aria-hidden="true"></i>
                <br>Expense & Advance</a>
        </div>

        
        <div class="card" style="background-color: white;border-radius:20px;border:2px solid blue; height:100px">
            <a class="text-center" style="text-decoration: none;" href="{% url 'disaster:disaster_advance_management' %}">
                <i class="fa fa-bolt" aria-hidden="true"></i>
                <br>Disaster cash management</a>
        </div>
        

        <div class="card" style="background-color: white;border-radius:20px;border:2px solid blue; height:100px">
            <a class="text-center" style="text-decoration: none;" href="{% url 'common:operational_resource_management' %}">
                <i class="fas fa-tools"></i>
                <br>Operational Resource</a>
        </div>



    
    <div class="card"  style="background-color: white;border-radius:20px;border:2px solid blue; height:100px">
        <a class="text-center" style="text-decoration: none;" href="{% url 'billable:billable_dashboard' %}">
            <i class="fas fa-tools"></i>
            <br>Civil and Power work</a>
    </div>
    
    
    <div class="card" style="background-color: white;border-radius:20px;border:2px solid blue; height:100px">
        <a class="text-center" style="text-decoration: none;" href="{% url 'employee:human_resource_management' %}">
            <i class="fa fa-users" aria-hidden="true"></i>
            <br>HR management</a>
    </div>
    
    
    <div class="card" style="background-color: #07f3f3;border-radius:20px;border:2px solid rgb(0, 229, 255); height:100px">
        <a class="text-center" style="text-decoration: none;" href="{% url 'common:all_expenditure' %}">
            <i class="fa fa-calculator" aria-hidden="true"></i>
            <br>All Expenses Summary</a>
    </div>
    

</div>

</div>



<div class="col" style="height:400px"></div>



{% for audio in audio_files %}
    {% if audio.logged_in_success %}
        <audio id="successAudio" src="{{ audio.logged_in_success.url }}" preload="auto"></audio>
    {% endif %}
{% endfor %}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var successAudio = document.getElementById('successAudio');

        if (successAudio) {
            var audioPlayed = localStorage.getItem('audioPlayed');

            if (!audioPlayed) {
                successAudio.play();
                localStorage.setItem('audioPlayed', 'true');
            }
        }
    });
</script>



{% endblock %}