
{% extends "base.html" %}
{% load static %}

{% load duration_filters %}

{% block content %}


    <title>MP report view</title>


    <style>

        table {
            border-collapse: collapse;
            width: 100%;
        
        }
        
        th, td {
            border: 1px solid black; /* Set border color for individual cells */
            text-align: left;
            padding: 0px;
        }
        
        th {
            background-color: rgb(10, 123, 63);
            color:white;
        }
        
        table thead th {
        white-space: normal;
        }
     #main-content {   
        overflow-y: auto;
        margin-left:0px;
        position: absolute;
        width: 100%;
        left: 0;
    
    }
        
        
        </style>





<form method="GET" action="{% url 'tickets:mp_report_view' %}">

    <div class="container-fluid" style="margin-bottom:30px">
        <div class="row">
            <div class="col-12"style= padding:10px>
               Start Date:  {{ form.start_date }} 
               End Date:  {{ form.end_date }} 
               or Select no of days:  {{ form.days }}              
              
            </div>
            <div class="col-12">
                Slect MP: {{ form.mp }}
            
                <button type="submit" class='btn btn-primary'>Generate Data</button>

            </div>
        </div>
      
    </div>
      
    </form>



    <div style="left:0px; margin-left:0px">
        <h4 style="margin-top:40px; margin-left:0px">Data for
            {% if days %}
                the last {{ days }} days
            {% elif start_date and end_date %}
                from: {{ start_date }} to {{ end_date }}
            {% endif %}
        </h4>        
        
    </div>




<div class="container-fluid"id='main-content'>
    <div class="row">
        <div class="col overflow-auto">
            <table border="1">
                <thead>
                    <tr>
                        <th class="text-center p-2">View details</th>    
                        <th class="text-center p-2">Date</th>           
                        <th class="text-center p-2">Region</th>
                        <th class="text-center p-2">Zone</th>
                        <th class="text-center p-2">MP</th>
                        <th class="text-center p-2">TT Number</th>
                        <th class="text-center p-2">Edotco TT Ref</th>
                        <th class="text-center p-2">Edotco Site ID</th>

                        <th class="text-center p-2">PGR Type</th>
                        <th class="text-center p-2">PGR Category</th>
                        <th class="text-center p-2">PGR Name</th>
                        <th class="text-center p-2">Team leader Name</th>
                        <th class="text-center p-2">PGR Phone</th>
                        <th class="text-center p-2">Team leader phone</th>
                        <th class="text-center p-2">Ticket Status</th>

                        <th class="text-center p-2">Internal GRH</th>
                        <th class="text-center p-2">Customer GRH</th>                        
                        <th class="text-center p-2">Fuel difference</th>
                   

                    
                        <th class="text-center p-2">Vehicle type</th>
                      
                        <th class="text-center p-2">PG Number</th>
                        <th class="text-center p-2">Vehicle Number</th>
                      
                       
                        <!-- Add other fields as necessary -->
                    </tr>
                </thead> 
                <tbody>
                    {% if etickets %}
                        {% for ticket in etickets %}
                        <tr>
                            <td style="white-space: nowrap; "><a  href="{% url 'tickets:view_child_tickets_external' ticket.id %}" style="text-decoration:none;">view childs</a></td>  
                            <td class="text-center p-2" style="white-space: nowrap;">{{ ticket.created_at }}</td>               
                            <td class="text-center p-2">{{ ticket.region }}</td>
                            <td class="text-center p-2">{{ ticket.zone }}</td>
                            <td class="text-center p-2">{{ ticket.mp }}</td>
                            <td class="text-center p-2">{{ ticket.internal_ticket_number }}</td>
                            <td class="text-center p-2">{{ ticket.customer_ticket_ref }}</td>
                            <td class="text-center p-2">{{ ticket.site_id }}</td>

                            <td class="text-center p-2">{{ ticket.assigned_to.PGR_type }}</td>
                            {% if ticket.assigned_to.PGR_category == 'adhoc' %}
                            <td class="text-center p-2" style="background-color: red;">{{ ticket.assigned_to.PGR_category }}</td>
                            {% else %}
                            <td class="text-center p-2">{{ ticket.assigned_to.PGR_category }}</td>
                            {% endif %}
                            <td class="text-center p-2">{{ ticket.assigned_to.name }}</td>
                            <td class="text-center p-2">{{ ticket.team_leader_name.name }}</td>
                            <td class="text-center p-2">{{ ticket.assigned_to.phone }}</td>
                            <td class="text-center p-2">{{ ticket.team_leader_name.phone}}</td>
                          
                            <td class="text-center p-2">{{ ticket.ticket_status }}</td>

                            <td class="text-center p-2">{{ ticket.internal_generator_running_hours }}</td>
                            <td class="text-center p-2">{{ ticket.customer_generator_running_hours }}</td>
                            
                            {% if ticket.fuel_difference > 0 %}
                            <td class="text-center p-2" style="background-color: red;">{{ ticket.fuel_difference|floatformat:'2'}}</td>
                                {% else %}
                            <td class="text-center p-2" style="background-color: greenyellow;">{{ ticket.fuel_difference|floatformat:'2' }}</td>
                            {% endif %}
                                                       
                            {% if ticket.assigned_vehicle_type == "Adhoc" %}
                            <td class="text-center p-2" style="background-color: red;">{{ ticket.assigned_vehicle_type}}</td>
                            {% else %}
                            <td class="text-center p-2">{{ ticket.assigned_vehicle_type}}</td>
                            {% endif %}
                          
                            <td class="text-center p-2">{{ ticket.pgnumber.PGNumber }}</td>
                            <td class="text-center p-2" style="white-space: nowrap;">{{ ticket.vehicle.vehicle_reg_number }}</td>


                        
                                                   
                                             
                                                    
                            <!-- Add other fields as necessary -->
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="12" class="text-center p-2">
                                <h4>Currently no data found for this selection.</h4>
                            </td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
            
            

        </div>
    </div>
</div>

<div class="col" style="height:1200px"></div>









<script>
    $(document).ready(function(){      
        var regionZoneMapping = {
            'Sylhet': ['','Sylhet', 'Moulovibazar','Mymensingh','Kisorganj','Tangail'], 
            'Rangpur': ['','Rangpur', 'Dinajpur','Bagura','Rajshahi'] ,                          
            
        };
     
        $('#id_region').change(function(){
            var selectedRegion = $(this).val();
            var zoneChoices = regionZoneMapping[selectedRegion];
            $('#id_zone').empty();
            $.each(zoneChoices, function(index, value){
                $('#id_zone').append($('<option>').text(value).attr('value', value));
            });
        });
              
        var zoneMpMapping = {              
            'Sylhet': ['','Sylhet','Taherpur','Sunamganj','Bianibazar','Dorbhost','Dherai','Chatak'], // Add more MPs for Sylhet zone
            'Moulovibazar': ['','Moulovibazar', 'Saestaganj','Juri','Baniachong'],
            'Mymensingh': ['','Mymensingh', 'Fulpur','Valuka'] ,
            'Kisorganj': ['','Kisorganj','Katiadi','Netrokona','Mohonpur','Austogram'],
            'Tangail': ['','Tangail','Madhupur','Jamalpur','Sherpur','Bakshihanj','Rowmari'],
           
            'Rangpur':['','Rangpur','Hatibandha','Gaibandha','Ulipur','Boropar','Polasbari'],
            'Dinajpur':['','Dinajpur','Panchghor','Jaldhaka','Thakurgaon'],
            'Rajshahi':['','Rajshahi','Bagura','Nachole','Natore','Chapai'],
            'Bagura':['','Bagura'],
            '': ['']
           
        };

   
        $('#id_zone').change(function(){
            $('#id_mp').val('');
            var selectedZone = $(this).val();
            var mpChoices = zoneMpMapping[selectedZone];

            $('#id_mp').empty();
            $.each(mpChoices, function(index, value){
                $('#id_mp').append($('<option>').text(value).attr('value', value));
            });
        });



});          

</script> 


{% endblock %}