{% extends "base.html" %}
{% load static %}



{% block content %}

<title>View Ticket</title>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <style>


table {
            border-collapse: collapse;
            width: 100%;
        
        }
        
        th, td {
            border: 1px solid black; /* Set border color for individual cells */
            vertical-align: middle;
            padding: 0px;
        }
        
        th {
          background-color: rgb(131, 231, 151);
           
        }
        
        table thead th {
        white-space: normal;
        }
        
 .main-content {   
    overflow-y: auto;
    margin-left:0px;
    position: absolute;
    width: 100%;
    left: 0;
  
}


</style>


{% if messages %}
<ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class="container-fluid main-content">
    <div class="row">
        <div class="col">

            
    <h2>Update Child Tickets:</h2>
    <table>
        <thead>
            <tr>
                <th class="text-center p-2" style="white-space:normal">Parent Ticket</th>
                <th class="text-center p-2"style="white-space:normal">Child Ticket Number</th>
                <th class="text-center p-2"style="white-space:normal">Internal Generator Start Date</th>
                <th class="text-center p-2"style="white-space:normal">Internal Generator Start Time</th>
                <th class="text-center p-2"style="white-space:normal">Internal Generator Stop Date</th>
                <th class="text-center p-2"style="white-space:normal">Internal Generator Stop Time</th>
                <th class="text-center p-2"style="white-space:normal">Internal Generator Running Hours</th>
                <th class="text-center p-2"style="white-space:normal">Internal Calculated Fuel Litre</th>
                <th class="text-center p-2">Images</th>
           
            </tr>
        </thead>
        <tbody>
            {% for child_ticket in child_tickets %}
                <tr>
                    <td class="text-center p-2">{{ parent_ticket.internal_ticket_number }}</td>
                    <td class="text-center p-2">{{ child_ticket.child_ticket_number }}</td>
                    <td class="text-center p-2" contenteditable="true" data-field="child_internal_generator_start_date" data-id="{{ child_ticket.id }}" style="white-space: nowrap;">{{ child_ticket.child_internal_generator_start_date }}</td>
                    <td class="text-center p-2" contenteditable="true" data-field="child_internal_generator_start_time" data-id="{{ child_ticket.id }}">{{ child_ticket.child_internal_generator_start_time }}</td>
                    <td class="text-center p-2" contenteditable="true" data-field="child_internal_generator_stop_date" data-id="{{ child_ticket.id }}" style="white-space: nowrap;">{{ child_ticket.child_internal_generator_stop_date }}</td>
                    <td class="text-center p-2" contenteditable="true" data-field="child_internal_generator_stop_time" data-id="{{ child_ticket.id }}">{{ child_ticket.child_internal_generator_stop_time }}</td>
                    <td class="text-center p-2">{{ child_ticket.child_internal_generator_running_hours }}</td>
                    <td class="text-center p-2">{{ child_ticket.child_internal_calculated_fuel_litre }}</td>
                    <td class="text-center p-2">
                        {% if child_ticket.child_tt_image %}
                            <a href="{{ child_ticket.child_tt_image.url }}" target="_blank">
                                <img 
                                    src="{{ child_ticket.child_tt_image.url }}" 
                                    alt="Child Ticket Image" 
                                    style="cursor: pointer; width:50px;height:50px"
                                >
                            </a>
                        {% else %}
                            No image available
                        {% endif %}
                    </td>
                   
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <button id="updateButton" class="btn btn-primary">Update</button>

        </div>
    </div>
</div>

    



 

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    $(document).ready(function() {
        $('#updateButton').on('click', function() {
            var editedFields = [];
    
            $('[contenteditable="true"]').each(function() {
                var field = $(this).data('field');
                var id = $(this).data('id');
                var value = $(this).text();
    
                if (value === 'None') {
                    alert('Value cannot be None');
                    return; 
                }
    
                if ($(this).hasClass('edited')) {
                    if (field.includes('date')) {
                        var date = new Date(value);
                        value = date.toISOString().split('T')[0];
                    } else if (field.includes('time')) {
                        var timeParts = value.split(':');
                        if (timeParts.length === 2) {
                            value = value + ':00';  // Add seconds part if missing
                        }
                    }
    
                    var data = {
                        'id': id,
                        'field': field,
                        'value': value
                    };
    
                    editedFields.push(data);
                }
            });
    
            if (editedFields.length > 0) {
                $.ajax({
                    type: 'POST',
                    url: '{% url "tickets:update_child_ticket_data" %}',
                    data: JSON.stringify(editedFields),
                    contentType: 'application/json',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    success: function(response) {
                        alert('Successfully updated');
                    },
                    error: function(xhr, status, error) {
                        var errorMessage = xhr.responseJSON ? xhr.responseJSON.error : 'Unknown error';
                        alert('Error: ' + errorMessage);
                    }
                });
            } else {
                alert('No changes to update.');
            }
        });
    
        $('[contenteditable="true"]').on('blur', function() {
            $(this).addClass('edited');
        });
    });
    </script>
    

    
 
        





{% endblock %}