{% extends "base.html" %}
{% load static %}



{% block content %}

<title>View Ticket</title>






<style>

    html, body {
        margin: 0;
        padding: 0;
        overflow-x: hidden; /* Prevents the body from horizontally scrolling */
    }

    table {
            border-collapse: collapse;
            width: 100%;
        
        }
        
        th, td {
            border: 1px solid black; /* Set border color for individual cells */
            vertical-align: middle;
            padding: 0px;
        }
        
        th {
          background-color: rgb(12, 115, 32);
           
        }
        
        table thead th {
        white-space: normal;
        }
        
    #main-content {   
        overflow-y: auto;
        margin-left:0px;
        position: absolute;
        width: 100%;
        left: 0;
    
    }

    .main-content2 {   
        overflow-y: auto;
        margin-left:0px;  
        width: 100%;
        left: 0;
    
    }


    .no-bullets {
        list-style-type: none; 
    }

    .no-bullets li {
        display: inline; 
        margin-right: 10px; 
    }
  
    .form-select {
        width: 100%; /* Ensure the select element takes up the full width of its container */
    }


</style>



<div class="container-fluid" id="main-content">
    <div class="row">
        <div class="col-xl-12">                
            <form method="GET" action="{% url 'tickets:view_tt_edotco' %}">
                <div class="container-fluid main-content2">
                    <div class="row row-cols-2 row-cols-md-6">
                        <div class="col" style="padding:5px; ">  Start Date:  {{ form.start_date }} </div>
                        <div class="col" style="padding:5px; ">  End Date:  {{ form.end_date }} </div>
                        <div class="col" style="padding:5px; "> No of days {{ form.days }} </div>
                        <div class="col" style="padding:5px; ">  Region:{{ form.region }} </div>  
                        <div class="col" style="padding:5px; ">  Zone:{{ form.zone }} </div>    
                        <div class="col" style="padding:5px; ">  MP:{{ form.mp }} </div>  
                        <div class="col" style="padding:5px; "> 
                            <button type="submit" class='btn btn-primary'>Generate Data</button>
                        </div>
                    </div>
                </div>                    
            </form>
            <h4 class="text-center">Data for
                {% if days %}
                    the last {{ days }} days
                {% elif start_date and end_date %}
                    from: {{ start_date }} to {{ end_date }}
                {% endif %}
            </h4>          
        </div>
  



       

            <div class="col-xl-12">
                <table class="table">
                    <h4>Tickets details</h4>
               
                    <thead style="background-color: rgb(6, 238, 226);">
                        <tr>                         
                          
                            <th class="text-center p-2">Chat</th>
                            <th class="text-center p-2">Ticket Number</th>
                            <th class="text-center p-2">Site code</th>
                            <th class="text-center p-2">PG Start</th>
                            <th class="text-center p-2">PG Stop</th>
                            <th class="text-center p-2">Validation </th>
                          
                            
                         
                           
                        </tr>
                    </thead>
                    <tbody>
                        {% for ticket in ticket_data %}
                                         

                            <td style="white-space: nowrap; "><a  href="{% url 'tickets:chat' ticket.id %}"style="text-decoration:none;">Message</a></td>
                            <td class="text-center" style="font-size: 14px; white-space: nowrap;color:black">{{ ticket.customer_ticket_ref }}</td>
                            <td class="text-center" style="font-size: 14px; white-space: nowrap;color:black">{{ ticket.site_id }}</td>                       
                            <td style="white-space: nowrap; "><a  href="{% url 'tickets:create_child_ticket' ticket.id %}"  style="text-decoration:none;">PG start</a></td>
                            <td style="white-space: nowrap; "><a  href="{% url 'tickets:view_child_ticket_mobile' ticket.id %}" style="text-decoration: none;">PG stop </a></td>  
                            <td style="white-space: nowrap; "><a  href="{% url 'tickets:view_child_tickets_external_mobile' ticket.id %}" style="text-decoration:none;">Validation</a></td> 
                           
                                  
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div class="pagination" style="padding:10px">
                    {% if page_obj.has_previous %}
                        <a style="margin:10px; font-size: 14px;" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    {% endif %}
                    
                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <span style="margin:10px; font-size:14px">{{ num }}</span>
                        {% else %}
                            <a style="margin:10px; font-size:14px"href="?page={{ num }}">{{ num }}</a>
                        {% endif %}
                    {% endfor %}
                    
                    {% if page_obj.has_next %}
                        <a style="margin:10px; font-size:14px"href="?page={{ page_obj.next_page_number }}">Next</a>
                    {% endif %}
                </div>
                
            </div>


        </div>
    </div> 
    
    



    <div class="col" style="height:900px"></div>
        


    <script>
        $(document).ready(function() {
            var regionZoneMapping = {
                'Sylhet': ['', 'Sylhet', 'Moulovibazar', 'Mymensingh', 'Kisorganj', 'Tangail'],
                'Rangpur': ['', 'Rangpur', 'Dinajpur', 'Bagura', 'Rajshahi']
            };
    
            var zoneMpMapping = {
                'Sylhet': ['', 'Sylhet', 'Taherpur', 'Sunamganj', 'Bianibazar', 'Dorbhost', 'Dherai', 'Chatak'],
                'Moulovibazar': ['', 'Moulovibazar', 'Saestaganj', 'Juri', 'Baniachong'],
                'Mymensingh': ['', 'Mymensingh', 'Fulpur', 'Valuka'],
                'Kisorganj': ['', 'Kisorganj', 'Katiadi', 'Netrokona', 'Mohonpur', 'Austogram'],
                'Tangail': ['', 'Tangail', 'Madhupur', 'Jamalpur', 'Sherpur', 'Bakshihanj', 'Rowmari'],
                'Rangpur': ['', 'Rangpur', 'Hatibandha', 'Gaibandha', 'Ulipur', 'Boropar', 'Polasbari'],
                'Dinajpur': ['', 'Dinajpur', 'Panchghor', 'Jaldhaka', 'Thakurgaon'],
                'Rajshahi': ['', 'Rajshahi', 'Bagura', 'Nachole', 'Natore', 'Chapai'],
                'Bagura': ['', 'Bagura'],
                '': ['']
            };
    
            $('#id_region').change(function() {
                var selectedRegion = $(this).val();
                var zoneChoices = regionZoneMapping[selectedRegion] || [];
                $('#id_zone').empty().append($.map(zoneChoices, function(value) {
                    return $('<option>').text(value).attr('value', value);
                })).trigger('change');
            });
    
            $('#id_zone').change(function() {
                var selectedZone = $(this).val();
                var mpChoices = zoneMpMapping[selectedZone] || [];
                $('#id_mp').empty().append($.map(mpChoices, function(value) {
                    return $('<option>').text(value).attr('value', value);
                }));
            });
        });
    </script>
    


{% endblock %}