{% extends "base.html" %}
{% load static %}


{% block content %}



    <style>

    html, body { 
       font-family: Verdana, sans-serif; 
    
  }


  
  table {
            border-collapse: collapse;
            width: 100%;
      
        }

        th, td {
            border: 1px solid rgb(227, 87, 7); /* Set border color for individual cells */
            text-align: left;
            padding: 0px;
        }
        th{
        background-color: rgb(52, 232, 100);
      }
      

    table thead th {
    white-space: normal;
        }

    </style>

<h4 class=" text-center" style="margin-top:10px">DOPS DASHBOARD</h4>



 <div class="container-fluid">
    <div class="row row-cols-3 row-cols-md-6 p-2">
     


        <!-- Vehicle data -->

    <div class="card" style="background-color: white;border:2px solid green;border-radius: 10px;">
        <a class="text-center" style="text-decoration: none;" href="{% url 'vehicle:create_vehicle'%}">
            <i class="fas fa-truck-pickup"></i>
            <br>Create Vehicle</a>
    </div>
           

    <div class="card" style="background-color: white;border:2px solid green;border-radius: 10px;">
        <a class="text-center" style="text-decoration: none;" href="{% url 'vehicle:view_vehicle_info' %}">
            <i class="fas fa-truck-pickup"></i>
            <br>View Vehicle database</a>
    </div>

    <div class="card" style="background-color: white;border:2px solid green;border-radius: 10px;">
        <a class="text-center" style="text-decoration: none;" href="{% url 'vehicle:zonewise_vehicle' %}">
            <i class="fas fa-truck-pickup"></i>
            <br>Zonewise Vehicle distribution</a>
    </div>

    <div class="card" style="background-color: white;border:2px solid green;border-radius: 10px;">
        <a class="text-center" style="text-decoration: none;" href="{% url 'vehicle:create_vehicle_expenses' %}">
            <i class="fas fa-truck-pickup"></i>
            <br>Add vehicle running Mileage</a>
    </div>

    
    <div class="card" style="background-color: white;border:2px solid green;border-radius: 10px;">
        <a class="text-center" style="text-decoration: none;" href="{% url 'vehicle:view_vehicle_travel_data' %}">
            <i class="fas fa-truck-pickup"></i>
            <br>View vehicle travel data</a>
    </div>

    <div class="card" style="background-color: white;border:2px solid green;border-radius: 10px;">
        <a class="text-center" style="text-decoration: none;" href="{% url 'vehicle:create_fuel_refill' %}">
            <i class="fas fa-truck-pickup"></i>
        <br> Add fuel</a>
    </div>

    
    <div class="card" style="background-color: white;border:2px solid green;border-radius: 10px;">
        <a class="text-center" style="text-decoration: none;" href="{% url 'vehicle:view_fuel_refill' %}">
            <i class="fas fa-truck-pickup"></i>
            <br>View fuel refill</a>
    </div>

     
    

    <div class="card" style="background-color: white;border:2px solid green;border-radius: 10px;">
        <a class="text-center" style="text-decoration: none;color:rgb(9, 58, 235)" href="{% url 'vehicle:create_vehicle_fault' %}">
            <i class="fas fa-truck-pickup"></i>
            <br> Add Vehicle incident </a>
    </div>

    <div class="card" style="background-color: white;border:2px solid green;border-radius: 10px;">
        <a class="text-center" style="text-decoration: none;color:rgb(10, 81, 234)" href="{% url 'vehicle:view_vehicle_fault' %}">
            <i class="fas fa-truck-pickup"></i>
            <br>View vehicle incident</a>
    </div>

    <div class="card" style="background-color: white;border:2px solid green;border-radius: 10px;">
        <a class="text-center" style="text-decoration: none;" href="{% url 'vehicle:create_vehicle_payment' %}">
            <i class="fas fa-truck-pickup"></i>
            <br> Add Vehicle payment </a>
    </div>

    <div class="card" style="background-color: white;border:2px solid green;border-radius: 10px;">
        <a class="text-center" style="text-decoration: none;" href="{% url 'vehicle:view_vehicle_payment' %}">
            <i class="fas fa-truck-pickup"></i>
            <br>View vehicle payment</a>
    </div>


    <div class="card" style="background-color: cyan;border:2px solid rgb(53, 241, 244);border-radius: 10px;">
        <a class="text-center" style="text-decoration: none;" href="{% url 'vehicle:adhoc_management_dashboard' %}">
            <i class="fas fa-truck-pickup"></i>
            <br>Adhoc Vehicle requisition process</a>
    </div>

  

    <div class="card" style="background-color: white;border:2px solid green;border-radius: 10px;">
        <a class="text-center" style="text-decoration: none;" href="{% url 'vehicle:vehicle_overtime_calc' %}">
            <i class="fas fa-truck-pickup"></i>
            <br>Vehicle daily bill account</a>
    </div>


    <div class="card" style="background-color: white;border:2px solid green;border-radius: 10px;">
        <a class="text-center" style="text-decoration: none;" href="{% url 'vehicle:vehicle_grand_summary' %}">
            <i class="fas fa-truck-pickup"></i>
            <br>Grand Cost performance summary</a>
    </div>

    
    <div class="card" style="background-color: white;border:2px solid green;border-radius: 10px;">
        <a class="text-center" style="text-decoration: none;" href="{% url 'vehicle:management_summary_report' %}">
            <i class="fas fa-truck-pickup"></i>
            <br>Vehicle zonewise performance</a>
    </div>

 




    </div>
 </div>



    <div class="col" style="height:1200px"></div>

    
{% endblock %}



