
{% extends "base.html" %}
{% load static %}

{% load duration_filters %}

{% block content %}

<style>

    table {
        border-collapse: collapse;
        width: 100%;
    
    }
    
    th,td{
        border: 1px solid black; /* Set border color for individual cells */
        text-align: left;
        padding: 0px;
    }
    
    th {
        background-color: rgb(38, 233, 129);
        
    }
    
    table thead th {
    white-space: normal;
    }
    
    .main-content {   
    overflow-y: auto;
    margin-left:0px;
    position: absolute;
    width: 100%;
    left: 0;
  
}
    
    </style>



<form method="GET" action="{% url 'vehicle:vehicle_grand_summary' %}">

    <div class="container-fluid">
        <div class="row row-cols-2 row-cols-md-6">

         <div class="col" style="padding:5px;">  Start Date:  {{ form.start_date }} </div>
         <div class="col" style="padding:5px;">  End Date:  {{ form.end_date }} </div>
         <div class="col" style="padding:5px;"> No of days {{ form.days }} </div>
         <div class="col" style="padding:5px;">  Region:{{ form.region }} </div>  
         <div class="col" style="padding:5px;">  Zone:{{ form.zone }} </div>    
         <div class="col" style="padding:5px;">  mp:{{ form.mp }} </div> 
         <div class="col" style="padding:5px;">  Vehicle Number:{{ form.vehicle_number }} </div>     

         <div class="col" style="padding:5px; margin-left:40px;margin-top:20px "> <button type="submit" class='btn btn-primary'>Generate Data</button></div>
           
        </div>
    </div>
      
    </form>




<div style="left:0px; margin-left:0px">
    <h4 style="margin-top:40px; margin-left:0px">Data for
        {% if days %}
            the last {{ days }} days 
        {% elif start_date and end_date %}
            from: {{ start_date }} to {{ end_date }}
        {% endif %} :Vehicle summary
    </h4>
        
</div>




<div class="container-fluid main-content" >
    <div class="row">
        <div class="col">

  
            <table border="1">
                <thead>
                    <tr>
                        <th  class="text-center p-2">view details</th>
                        <th  class="text-center p-2">view overtime</th>
                    
                        <th class="text-center p-2">Vehicle Registration Number</th>
                        <th class="text-center p-2">Vehicle mode of use</th>
                        <th class="text-center p-2">Zone</th>
                        <th class="text-center p-2">No of travel days</th>
                        <th class="text-center p-2">Vehicle Rent rate</th>
                        <th class="text-center p-2">Vehicle rental cayegory</th>
                  
                    
                        <th class="text-center p-2">Driver Over Time Rate</th>
                        <th class="text-center p-2">Body Over Time Rate</th>

                    
                        <th class="text-center p-2" style="background-color: blanchedalmond;">Vehicle running Hours</th>
                        <th class="text-center p-2" style="background-color: blanchedalmond;">Kilometer run from running data</th>
                        <th class="text-center p-2" style="background-color: blanchedalmond;">Kilometer run from refill data</th>
                        <th class="text-center p-2" style="background-color: blanchedalmond;">Fuel refill</th>
                        <th class="text-center p-2" style="background-color: blanchedalmond;">Fuel consumed</th>
                        <th class="text-center p-2" style="background-color: blanchedalmond;">Fuel balance</th>

                        <th class="text-center p-2" style="background-color: blanchedalmond;">Fuel consumed from refill</th>
                        <th class="text-center p-2" style="background-color: blanchedalmond;">Fuel balance from refill</th>
                       
                    

                        <th class="text-center p-2">Total TT handle</th>
                        <th class="text-center p-2">Total TT PGRH</th>
                        <th class="text-center p-2">Total overtime Hours</th>
                        <th class="text-center p-2">Total Fault Hours</th>                           

                        <th class="text-center p-2" style="background-color: chartreuse;">Vehicle body Rent</th>
                        <th  class="text-center p-2" style="background-color: chartreuse;" >Driver Overtime</th>
                        <th  class="text-center p-2" style="background-color: chartreuse;">Body Overtime</th>
                        <th  class="text-center p-2" style="background-color: chartreuse;">Total Vehicle bill amount</th>


                        <th class="text-center p-2" style="background-color: aquamarine;">CNG run bill</th>
                        <th  class="text-center p-2" style="background-color: aquamarine;">Gasoline run bill</th>
                        <th  class="text-center p-2" style="background-color: aquamarine;" >Total Kilometer bill</th>

                        <th  class="text-center p-2" style="background-color:bisque;">Grand total bill</th>

                        <th  class="text-center p-2">Click to pay</th>

                        <th  class="text-center p-2">Total bill paid amount</th>
                      

                       
                       

                    

                    </tr>
                </thead>
                <tbody>
              
                  
                    {% for vehicle_reg_number, data in aggregated_data_page %}
                    <tr>
                      
                        <td class="text-center p-1" style="white-space: nowrap">
                            <a href="{% url 'vehicle:vehicle_detail' data.vehicle_id %}">View details</a>
                        </td>
                        <td class="text-center p-1" style="white-space: nowrap">
                            <a href="{% url 'vehicle:vehicle_overtime_calc'%}">View overtime</a>
                        </td>                     
                       
                        <td class="text-center p-1" style="white-space: nowrap;">{{ vehicle_reg_number }}</td>
                        <td class="text-center p-1" style="white-space: nowrap;">{{ data.vehicle_operational_mode }}</td>
                        <td class="text-center p-1" style="white-space: nowrap;">{{ data.zone }}</td>
                        <td class="text-center p-1">{{ data.num_travel_dates }}</td>
                        <td class="text-center p-1">{{ data.vehicle_rental_rate|first|floatformat:'2' }}</td>                    
                        <td class="text-center p-1"> {{ data.vehicle_rental_category_info}}</td>                    
                        <td class="text-center p-1">{{ data.driver_overtime_rate|first }}</td>
                        <td class="text-center p-1">{{ data.vehicle_body_overtime_rate|first }}</td>

                        <td class="text-center p-1">{{ data.total_running_hours|floatformat:'2' }}</td>
                        <td class="text-center p-1" style="background-color: burlywood;">{{ data.total_kilometer_run }}</td>
                        <td class="text-center p-1" style="background-color: rgb(170, 234, 21);">{{ data.total_kilometer_run_from_refill}}</td>
                        <td class="text-center p-1" style="background-color:rgb(228, 205, 205)">{{ data.total_fuel_refil}}</td>
                        <td class="text-center p-1" style="background-color: burlywood;">{{ data.total_fuel_consumed }}</td>
                        <td class="text-center p-1" style="background-color: burlywood;">{{ data.total_fuel_balance }}</td>

                        <td class="text-center p-1"style="background-color: rgb(170, 234, 21);">{{ data.total_fuel_consumed_from_refil }}</td>
                        <td class="text-center p-1"style="background-color: rgb(170, 234, 21);">{{ data.total_fuel_balance_from_refil}}</td>
                       
                

                        <td class="text-center p-1">{{ data.total_tickets_handle }}</td>
                        <td class="text-center p-1">{{ data.total_pg_runhour_handle|floatformat:'2' }}</td>
                        <td class="text-center p-1">{{ data.total_overtime_run_hours|floatformat:'2' }}</td>
                        <td class="text-center p-1" style="background-color: rgb(241, 57, 57);">{{ data.total_fault_hours|floatformat:'2' }}</td>


                        <td class="text-center p-1">{{ data.total_vehicle_rent_due|floatformat:'2' }}</td>
                        <td class="text-center p-1">{{ data.total_overtime_cost|floatformat:'2' }}</td>
                        <td class="text-center p-1">{{ data.vehicle_body_overtime_cost|floatformat:'2' }}</td>
                        <td class="text-center p-1" style="background-color: aqua;">{{ data.total_vehicle_bill_amount|floatformat:'2' }}</td>

                        
                        <td class="text-center p-1">{{ data.total_CNG_cost|floatformat:'2' }}</td>
                        <td class="text-center p-1">{{ data.total_gasoline_cost|floatformat:'2' }}</td>
                        <td class="text-center p-1">{{ data.total_kilometer_cost|floatformat:'2' }}</td>

                        <td class="text-center p-1">{{ data.grand_total_bill_amount|floatformat:'2' }}</td>
                 

                      
                        <td class="text-center p-1" style="background-color: aqua; white-space: nowrap;" ><a href="{% url 'vehicle:create_vehicle_payment'%}">Click to pay</a></td>
                     
                        <td class="text-center p-1" style="background-color: aqua;">{{ data.total_bill_paid |floatformat:'2' }}</td>
                        
                       
                       
                       
                       
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>


    
    <div class="pagination" style="padding:10px">
        {% if aggregated_data_page.has_previous %}
            <a style="margin:10px; font-size: 14px;" href="?page={{ aggregated_data_page.previous_page_number }}">Previous</a>
        {% endif %}
        
        {% for num in aggregated_data_page.paginator.page_range %}
            {% if aggregated_data_page.number == num %}
                <span style="margin:10px; font-size:14px">{{ num }}</span>
            {% else %}
                <a style="margin:10px; font-size:14px" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}
        
        {% if aggregated_data_page.has_next %}
            <a style="margin:10px; font-size:14px" href="?page={{ aggregated_data_page.next_page_number }}">Next</a>
        {% endif %}
    </div>

</div>


    <div class="col" style="height:1200px"></div>







    
<script>
    $(document).ready(function(){      
        var regionZoneMapping = {
            'Sylhet': ['','Sylhet', 'Moulovibazar','Mymensingh','Kisorganj','Tangail'], 
            'Rangpur': ['','Rangpur', 'Dinajpur','Bagura','Rajshahi'] ,                          
            
        };
     
        $('#id_region').change(function(){
            var selectedRegion = $(this).val();
            var zoneChoices = regionZoneMapping[selectedRegion];
            $('#id_zone').empty();
            $.each(zoneChoices, function(index, value){
                $('#id_zone').append($('<option>').text(value).attr('value', value));
            });
        });
              
        var zoneMpMapping = {              
            'Sylhet': ['','Sylhet','Taherpur','Sunamganj','Bianibazar','Dorbhost','Dherai','Chatak'], // Add more MPs for Sylhet zone
            'Moulovibazar': ['','Moulovibazar', 'Saestaganj','Juri','Baniachong'],
            'Mymensingh': ['','Mymensingh', 'Fulpur','Valuka'] ,
            'Kisorganj': ['','Kisorganj','Katiadi','Netrokona','Mohonpur','Austogram'],
            'Tangail': ['','Tangail','Madhupur','Jamalpur','Sherpur','Bakshihanj','Rowmari'],
           
            'Rangpur':['','Rangpur','Hatibandha','Gaibandha','Ulipur','Boropar','Polasbari'],
            'Dinajpur':['','Dinajpur','Panchghor','Jaldhaka','Thakurgaon'],
            'Rajshahi':['','Rajshahi','Bagura','Nachole','Natore','Chapai'],
            'Bagura':['','Bagura'],
            '': ['']
           
        };

   
        $('#id_zone').change(function(){
            $('#id_mp').val('');
            var selectedZone = $(this).val();
            var mpChoices = zoneMpMapping[selectedZone];

            $('#id_mp').empty();
            $.each(mpChoices, function(index, value){
                $('#id_mp').append($('<option>').text(value).attr('value', value));
            });
        });



});          

</script> 


  {% endblock %}