
{% extends "base.html" %}
{% load static %}



{% block content %}


<style>



    table {
                border-collapse: collapse;
                width: 100%;
          
            }
    
            th, td {
                border: 1px solid black; /* Set border color for individual cells */
                text-align: left;
                padding: 0px;
            }
    
            th {
                background-color: black;
                color:white;
            }
    
        table thead th {
        white-space: normal;
            }
    
    
    
      
    </style>








  
    <div class="container-fluid">
        <div class="row">
            <div class="col-12" style="margin-bottom:30px">
                <h4>Employee Changes</h4>

                <table border="1">
                    <thead>
                        <tr>
                            <th class="text-center p-2">Employee</th>
                            <th class="text-center p-2">Field Name</th>
                            <th class="text-center p-2">Previous status</th>
                            <th class="text-center p-2">Current Status</th>
                            <th class="text-center p-2">Date Changed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for change in changes %}
                        <tr>
                            <td class="text-center p-2">{{ change.employee }}</td>
                            <td class="text-center p-2">{{ change.field_name }}</td>
                            <td class="text-center p-2">{{ change.old_value }}</td>
                            <td class="text-center p-2">{{ change.new_value }}</td>
                            <td class="text-center p-2">{{ change.changed_at }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>         
               </div>
               <div class="col-12">

                
    <h4>Employee Changes Individual</h4>
    <table border="1">
        <thead>
            <tr>
                <th class="text-center p-2">Employee</th>
                <th class="text-center p-2">Field Name</th>
                <th class="text-center p-2">Previous Status</th>
                <th class="text-center p-2">Current Status</th>
                <th class="text-center p-2">Date Changed</th>
            </tr>
        </thead>
        <tbody>
            {% for change in changes_single %}
            <tr>
                <td class="text-center p-2">{{ change.employee }}</td>
                <td class="text-center p-2">{{ change.field_name }}</td>
                <td class="text-center p-2">{{ change.old_value }}</td>
                <td class="text-center p-2">{{ change.new_value }}</td>
                <td class="text-center p-2">{{ change.changed_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


               </div>
        </div>
    </div>
    






{% endblock %}
