
{% extends "base.html" %}
{% load static %}



{% block content %}

<style>


table {
    border-collapse: collapse;
    width: 100%;

}

th, td {
    border: 1px solid black; /* Set border color for individual cells */
    text-align: center;
    padding: 10px;
}

th {
    background-color: black;
    color:white;
}

table thead th {
white-space: normal;
}



</style>




<h1 style="margin-top:100px">Monthly Salary Sheet - {{ month }}/{{ year }}</h1>

<table>
    <thead>
        <tr>
            <th>Employee ID</th>
            <th>Month</th>
            <th>Year</th>
            <th>Name</th>
            <th>Total Salary</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in salary %}
        <tr>
            <td>{{ entry.employee.employee_code }}</td>
            <td>{{ entry.month }}</td>
            <td>{{ entry.year }}</td>
            <td>{{ entry.employee.name }}</td>
            <td>{{ entry.total_salary }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<h4 style="height:400px"></h4>


{% endblock %}