{% extends "base.html" %}
{% load static %}


{% block content %}


  <style>



table {
            border-collapse: collapse;
            width: 100%;
      
        }

        th, td {
            border: 1px solid black; /* Set border color for individual cells */
            text-align: left;
            padding: 0px;
        }

        th {
            background-color: black;
            color:white;
        }

    table thead th {
    white-space: normal;
        }



  
</style>





<div class="container-fluid">
    <div class="row">
        <div class="col">

            
    <h4>Employee Attendance Status</h4>
    <table border="1">
        <thead>
            <tr>
                <th class="text-center p-2">Employee</th>
                <th class="text-center p-2">Employee ID</th>
                <th class="text-center p-2">Date</th>
                <th class="text-center p-2">Day</th>
                <th class="text-center p-2">Check-in Time</th>
                <th class="text-center p-2">Check-out Time</th>
                <th class="text-center p-2">Total Hours</th>
                <th class="text-center p-2">Update</th>
            </tr>
        </thead>
        <tbody>
            {% for attendance in attendance_records %}
            <tr>
                <td class="text-center p-2">{{ attendance.employee }}</td>
                <td class="text-center p-2">{{ attendance.employee.employee_code }}</td>
                <td class="text-center p-2">{{ attendance.date }}</td>
                <td class="text-center p-2">{{ attendance.date|date:"l" }}</td> <!-- Format date to display the day -->
                <td class="text-center p-2">{{ attendance.check_in_time }}</td>
                <td class="text-center p-2">{{ attendance.check_out_time }}</td>
                <td class="text-center p-2">{{ attendance.total_hours }}</td>
                <td class="text-center p-2"><a href="{% url 'employee:update_attendance' employee_id=attendance.id %}">Update</a></td>


            </tr>
            {% endfor %}
        </tbody>
    </table>


        </div>
    </div>
</div>

    
{% endblock %}
