
{% extends "base.html" %}
{% load static %}



{% block content %}


    <title>Create Ticket</title>
   
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <style>


@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;900&display=swap');

html, body { 
       font-family: Verdana, sans-serif; 
     
  }

  
table {
            border-collapse: collapse;
            width: 100%;
        
        }
        
        th, td {
            border: 1px solid black; /* Set border color for individual cells */
            vertical-align: middle;
            padding: 0px;
        }
        
        th {
          background-color: rgb(177, 227, 187);
           
        }
        
        table thead th {
        white-space: normal;
        }
        


        
.main-content {   
    overflow-y: auto;
    margin-left:0px;
    position: absolute;
    width: 100%;
    left: 0;
  
}

    </style>

<body>

<div>

    {% if messages %}
    <div class="alert alert-success" role="alert">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
</div>


<div class="container-fluid main-content">
    <div class="row">
        <div class="col-xl-12" style="margin-bottom:100px">

            <h6 class="text-center"> filter pump's fuel withdraw. Please insert punp name and select date range</h6>

            <form method="post">
                {% csrf_token %}
            <div class="container-fluid main-content">
               <div class="row row-cols-2 row-cols-md-4">
                
                <div class="col">Pump:{{ form.fuel_pump_name }}</div>
                <div class="col"> Start date: {{ form.start_date }}</div>
                <div class="col">End date {{ form.end_date }}</div>
                <div class="col"> <button class="btn btn-primary" type="submit">Search</button></div>
                 
               </div>
            </div>
        </form>
        </div>

      {% if fuel_pump_name %}
      <h2 style="margin-top:20px">Results for "{{ fuel_pump_name }}"</h2>

      <div class="col-xl-12" style="margin-bottom:20px">   
        
        <h4>PG Fuel Data</h4>
        <table border="1">
            <thead>
                <tr>
                    <th class="text-center p-2">Refill Date</th>
                    <th class="text-center p-2">Fuel Type</th>
                    <th class="text-center p-2">Refill Amount (Liters)</th>
                    <th class="text-center p-2">PG number</th>
                    <th class="text-center p-2">Fuel Cost</th>
                </tr>
            </thead>
            <tbody>
                {% for data in pg_fuel_data %}
                    <tr>
                        <td class="text-center p-2">{{ data.refill_date }}</td>
                        <td class="text-center p-2">{{ data.fuel_type }}</td>
                        <td class="text-center p-2">{{ data.refill_amount }}</td>
                        <td class="text-center p-2">{{ data.pgnumber.PGNumber }}</td>
                        <td class="text-center p-2">{{ data.fuel_cost }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>

        <div class="col-xl-12" style="margin-bottom:20px"> 
        <h4>Vehicle Fuel Data</h4>
        <table border="1">
            <thead>
                <tr>
                    <th class="text-center p-2">Refill Date</th>
                    <th class="text-center p-2">Fuel Type</th>
                    <th class="text-center p-2">Refill Amount (Liters)</th>
                    <th class="text-center p-2">Vehicle Number</th>
                    <th class="text-center p-2">Fuel Cost</th>
           
                </tr>
            </thead>
            <tbody>
                {% for data in vehicle_fuel_data %}
                    <tr>
                        <td class="text-center p-2">{{ data.refill_date }}</td>
                        <td class="text-center p-2">{{ data.fuel_type }}</td>
                        <td class="text-center p-2">{{ data.refill_amount }}</td>
                        <td class="text-center p-2">{{ data.vehicle.vehicle_reg_number }}</td>
                        <td class="text-center p-2">{{ data.fuel_cost }}</td>
                     
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
        </div>

    </div>
  </div>





<div class="col" style="height:1200px"></div>
 


    <script>
        $(document).ready(function() {
            $('#id_region_id').change(function() {
                var selectedRegion = $('#id_region_id option:selected').text();
                if (selectedRegion) {
                    $('#id_region_name').val(selectedRegion);
                }
            });

            $('#id_region_name').focus(function() {
                $('#id_region_id').val('');
            });

            $('#id_zone_id').change(function() {
                var selectedZone = $('#id_zone_id option:selected').text();
                if (selectedZone) {
                    $('#id_zone_name').val(selectedZone);
                }
            });

            $('#id_zone_name').focus(function() {
                $('#id_zone_id').val('');
            });
        });
    </script>

{% endblock %}