{% extends "base.html" %}
{% load static %}


{% block content %}



    <style>

    html, body { 
       font-family: Verdana, sans-serif; 
    
  }


  
  table {
            border-collapse: collapse;
            width: 100%;
      
        }

        th, td {
            border: 1px solid rgb(227, 87, 7); /* Set border color for individual cells */
            text-align: left;
            padding: 0px;
        }
        th{
        background-color: rgb(52, 232, 100);
      }
      

    table thead th {
    white-space: normal;
        }

    </style>

<h4 class=" text-center" style="margin-top:10px">DOPS DASHBOARD</h4>



 <div class="container-fluid">
    <div class="row row-cols-3 row-cols-md-6 p-2">
     

    <!-- operational resources -->

    <div class="card m-1 p-2" style="background-color: white;border:2px solid green;border-radius: 10px;">
        <a class="text-center" style="text-decoration: none;" href="{% url 'employee:create_resource' %}">
            <i class="fas fa-tools"></i>
            <br>Create operational resource</a>
    </div>

    <div class="card m-1 p-2" style="background-color: white;border:2px solid green;border-radius: 10px;">
        <a class="text-center" style="text-decoration: none;" href="{% url 'employee:view_resource' %}">
            <i class="fas fa-eye"></i>
            <br>View Operational Resource</a>
    </div>

    <div class="card m-1 p-2" style="background-color: white;border:2px solid green;border-radius: 10px;">
        <a class="text-center" style="text-decoration: none;" href="{% url 'employee:view_resource_summary' %}">
            <i class="fas fa-eye"></i>
            <br>Operational resource summary</a>
    </div>

    
    <div class="card m-1 p-2" style="background-color: white;border:2px solid green;border-radius: 10px;">
        <a class="text-center" style="text-decoration: none;" href="{% url 'common:create_pgr' %}">
            <i class="fas fa-tools"></i>
            <br>Create PGR database</a>
    </div>

    <div class="card m-1 p-2" style="background-color: white;border:2px solid green;border-radius: 10px;">
        <a class="text-center" style="text-decoration: none;" href="{% url 'common:create_pgtl' %}">
            <i class="fas fa-tools"></i>
            <br>Create PGTL database</a>
    </div>

    <div class="card m-1 p-2" style="background-color: white;border:2px solid green;border-radius: 10px;">
        <a class="text-center" style="text-decoration: none;" href="{% url 'common:view_pgr_database' %}">
            <i class="fas fa-eye"></i>
            <br>View PGR database</a>
    </div>

    <div class="card m-1 p-2" style="background-color: white;border:2px solid green;border-radius: 10px;">
        <a class="text-center" style="text-decoration: none;" href="{% url 'common:pgr_summary' %}">
            <i class="fas fa-eye"></i>
            <br>Summary PGR </a>
    </div>

    <div class="card m-1 p-2" style="background-color: white;border:2px solid green;border-radius: 10px;">
        <a class="text-center" style="text-decoration: none;" href="{% url 'common:create_operational_user' %}">
            <i class="fas fa-eye"></i>
            <br>Create Operational User </a>
    </div>
    <div class="card m-1 p-2" style="background-color: white;border:2px solid green;border-radius: 10px;">
    <a class="text-center" style="text-decoration: none;" href="{% url 'common:view_operational_user' %}">
        <i class="fas fa-eye"></i>
        <br>View Operational User </a>
</div>
    <div class="card m-1 p-2" style="background-color: white;border:2px solid green;border-radius: 10px;">
        <a class="text-center" style="text-decoration: none;" href="{% url 'common:create_fuel_pump_database' %}">
            <i class="fas fa-eye"></i>
            <br>Create Fuel pump </a>
    </div>

    <div class="card m-1 p-2" style="background-color: white;border:2px solid green;border-radius: 10px;">
        <a class="text-center" style="text-decoration: none;" href="{% url 'common:fuel_pump_payment' %}">
            <i class="fas fa-eye"></i>
            <br>Pay Fuel pump </a>
    </div>

    <div class="card m-1 p-2" style="background-color: white;border:2px solid green;border-radius: 10px;">
        <a class="text-center" style="text-decoration: none;" href="{% url 'common:view_fuel_pump' %}">
            <i class="fas fa-eye"></i>
            <br>View Fuel pump </a>
    </div>

    <div class="card m-1 p-2" style="background-color: white;border:2px solid green;border-radius: 10px;">
        <a class="text-center" style="text-decoration: none;" href="{% url 'common:fuel_by_pump' %}">
            <i class="fas fa-eye"></i>
            <br>Pump wise fuel withdraw </a>
    </div>


    

    </div>
 </div>



    <div class="col" style="height:1200px"></div>

    
{% endblock %}



