{% extends "base.html" %}
{% load static %}



{% block content %}

<title>View PGR database</title>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <style>


table {
            border-collapse: collapse;
            width: 100%;
        
        }
        
        th, td {
            border: 1px solid black; /* Set border color for individual cells */
            vertical-align: middle;
            padding: 0px;
        }
        
        th {
          background-color: rgb(177, 227, 187);
           
        }
        
        table thead th {
        white-space: normal;
        }
        


        
.main-content {   
    overflow-y: auto;
    margin-left:0px;
    position: absolute;
    width: 100%;
    left: 0;
  
}



</style>




<div class="container-fluid main-content">
  <div class="row">

    <div class="col-xl-12">

      
<form method="GET">

  <div class="container-fluid" class="main-content">
      <div class="row row-cols-1 row-cols-md-4">

       <div class="col" style="padding:5px; margin:5px">  Start Date: {{ form.start_date }} </div>
       <div class="col" style="padding:5px; margin:5px">  End Date:  {{ form.end_date }} </div>
       <!-- <div class="col" style="padding:5px; margin:5px">  No of days {{ form.days }} </div>
       <div class="col" style="padding:5px; margin:5px">  Region:{{ form.region }} </div>  
       <div class="col" style="padding:5px; margin:5px">  Zone:{{ form.zone }} </div>    
       <div class="col" style="padding:5px; margin:5px">  mp:{{ form.mp }} </div>     -->

       <div class="col" style="padding:5px; margin:5px"> <button type="submit" class='btn btn-primary'>Generate Data</button></div>
         
      </div>
  </div>
    
  </form>

  <h4 class="text-center">Data for
    {% if days %}
        the last {{ days }} days
    {% elif start_date and end_date %}
        from: {{ start_date }} to {{ end_date }}
    {% endif %}
</h4> 


    </div>
    <div class="col-xl-12">
      <table>
        <thead>
          <h4> Fuel Pump Payment History</h4>
          <tr>
            <th class="text-center p-2">Payment date</th>
            <th class="text-center p-2">Pump Name</th>
            <th class="text-center p-2">Region</th>
            <th class="text-center p-2">Zone</th>
            <th class="text-center p-2">Payment ID</th>
            <th class="text-center p-2">Amount paid</th>
            <th class="text-center p-2">Payment Documents</th>

            
           

          </tr>
        </thead>
        <tbody>
          {% for payment in pump_payment_data %}
            <tr>

            

              <td class="text-center p-2" style="white-space: nowrap;">{{ payment.payment_date }}</td>
              <td class="text-center p-2" style="white-space: nowrap;">{{ payment.pump.fuel_pump_name }}</td>

              <td class="text-center p-2" style="white-space: nowrap;">{{ payment.pump.region }}</td>
              <td class="text-center p-2" style="white-space: nowrap;">{{ payment.pump.zone}}</td>

              <td class="text-center p-2" style="white-space: nowrap;">{{ payment.payment_id }}</td>
              <td class="text-center p-2" style="white-space: nowrap;">{{ payment.payment_amount }}</td>
              <td class="text-center p-2" style="white-space: nowrap;">

                {% if payment.payment_document %}
                <a href="{{ payment.payment_document.url }}" target="_blank">
                  <img 
                    src="{{ payment.payment_document.url }}" 
                    alt="Pump payment documents" 
                    style="cursor: pointer; width:50px;height:50px">
                </a>
              {% else %}
                No file available
              {% endif %}

              </td>
           
             
              
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>


  <div class="pagination" style="padding:10px">
    {% if page_obj.has_previous %}
      <a style="margin:10px; font-size: 14px;" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}
    
    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
        <span style="margin:10px; font-size:14px">{{ num }}</span>
      {% else %}
        <a style="margin:10px; font-size:14px" href="?page={{ num }}">{{ num }}</a>
      {% endif %}
    {% endfor %}
    
    {% if page_obj.has_next %}
      <a style="margin:10px; font-size:14px" href="?page={{ page_obj.next_page_number }}">Next</a>
    {% endif %}
  </div>
</div>

  
    
    



    <div class="col" style="height:900px"></div>
        





    
    <script>


        $(document).ready(function(){      
            var regionZoneMapping = {
                'Sylhet': ['','Sylhet', 'Moulovibazar','Mymensingh','Kisorganj','Tangail'], 
                'Rangpur': ['','Rangpur', 'Dinajpur','Bagura','Rajshahi'] ,
               
                
            };
         
            $('#id_region').change(function(){
                var selectedRegion = $(this).val();
                var zoneChoices = regionZoneMapping[selectedRegion];
                $('#id_zone').empty();
                $.each(zoneChoices, function(index, value){
                    $('#id_zone').append($('<option>').text(value).attr('value', value));
                });
            });

                  
            var zoneMpMapping = {              
                'Sylhet': ['','Sylhet','Taherpur','Sunamganj','Bianibazar','Dorbhost','Dherai','Chatak'], // Add more MPs for Sylhet zone
                'Moulovibazar': ['','Moulovibazar', 'Saestaganj','Juri','Baniachong'],
                'Mymensingh': ['','Mymensingh', 'Fulpur','Valuka'] ,
                'Kisorganj': ['','Kisorganj','Katiadi','Netrokona','Mohonpur','Austogram'],
                'Tangail': ['','Tangail','Madhupur','Jamalpur','Sherpur','Bakshihanj','Rowmari'],
               
                'Rangpur':['','Rangpur','Hatibandha','Gaibandha','Ulipur','Boropar','Polasbari'],
                'Dinajpur':['','Dinajpur','Panchghor','Jaldhaka','Thakurgaon'],
                'Rajshahi':['','Rajshahi','Bagura','Nachole','Natore','Chapai'],
                'Bagura':['','Bagura']
               
            };



       
            $('#id_zone').change(function(){
                var selectedZone = $(this).val();
                var mpChoices = zoneMpMapping[selectedZone];
                $('#id_mp').empty();
                $.each(mpChoices, function(index, value){
                    $('#id_mp').append($('<option>').text(value).attr('value', value));
                });
            });
        });








    
    function zoomInOut(image) {   
        var currentScale = parseFloat(image.style.transform.replace('scale(', '').replace(')', '')) || 1;
           
        var newScale = currentScale === 1 ? 1.5 : 1;       
  
        image.style.transform = 'scale(' + newScale + ')';
    }

    </script>
{% endblock %}