{% extends "base.html" %}
{% load static %}



{% block content %}

<style>
    

  

    table {
            border-collapse: collapse;
            width: 100%;
      
        }

        th, td {
            border: 1px solid rgb(227, 87, 7); /* Set border color for individual cells */
            text-align: left;
            padding: 0px;
        }
        th{
        background-color: rgb(52, 232, 100);
      }
      

    table thead th {
    white-space: normal;
        }

    .main-content {   
    overflow-y: auto;
    margin-left:0px;
    position: absolute;
    width: 100%;
    left: 0;
    top:0;
  
}
.button-group {
    display: flex;
    gap: 10px; /* Adjust the space between buttons as needed */
}

.button-group .btn {
    flex: 1;
}

</style>
   

         
<div class="container-fluid main-content" style="margin-top: 20px;">
    {% if messages %}
    <div>
        <ul class="messages">
            {% for message in messages %}
                <li style="font-size: 20px; background-color: orange;";{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}


<h2 class="text-center" style="margin-top:10px">Financial Approval Status</h2>
<p class="text-center">select date range/ or no of days but not both</p>
     <div class="row">  
        <div class="col-12">       
            <form method="GET" action="{% url 'vehicle:adhoc_approval_status2' %}" style="margin-bottom:30px">        
            <div class="container-fluid">
                <div class="row row-cols-2 row-cols-md-6">        
                    <div class="col" style="padding:5px;">  Start Date:  {{ form.start_date }} </div>
                    <div class="col" style="padding:5px;">  End Date:  {{ form.end_date }} </div>
                    <div class="col" style="padding:5px;"> no of days {{ form.days }} </div>
                    <div class="col" style="padding:5px;">  Region:{{ form.region }} </div>  
                    <div class="col" style="padding:5px;">  Zone:{{ form.zone }} </div>    
                    <div class="col" style="padding:5px;">  mp:{{ form.mp }} </div>  
                    <div class="col" style="padding:5px;"> <button type="submit" class='btn btn-primary'>Generate Data</button></div>
                    
                </div>
            </div>                
            </form>
        </div>  
        <div class="col">
            <div class="container_fluid">
                <div class="row row-cols-1 row-cols-md-2">

                    <div class="col-12" style="margin-bottom:10px">                  
                        <!-- Region-wise summary -->                 
                        <table>
                            <thead>
                                <tr>
                                    <th class="text-center p-2">Region</th>
                                    <th class="text-center p-2">Total Requisition qty</th>
                                    <th class="text-center p-2">Total Approved qty</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for region in region_approvals %}
                                <tr>
                                    <td class="text-center p-2">{{ region.vehicle__region }}</td>
                                    <td class="text-center p-2">{{ region.total_requisition|floatformat:"0" }}</td>
                                    <td class="text-center p-2">{{ region.total_approved|floatformat:"0" }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>        
                    </div>            
                    <div class="col-12">                        
                     <!-- Zone-wise summary -->               
                        <table>
                            <thead>
                                <tr>
                                    <th class="text-center p-2">Zone</th>
                                    <th class="text-center p-2">Total Requisition qty</th>
                                    <th class="text-center p-2">Total Approved qty</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for zone in zone_approvals %}
                                <tr>
                                    <td class="text-center p-2">{{ zone.vehicle__zone }}</td>
                                    <td class="text-center p-2">{{ zone.total_requisition|floatformat:"0" }}</td>
                                    <td class="text-center p-2">{{ zone.total_approved|floatformat:"0" }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            
        </div>
    
       
        <div class="col-12">            
             <h4 style="margin-top:20px; margin-bottom:10px"> Details requisition and approval 
            <a href="{% url 'vehicle:download_adhoc_requisition_data' %}">Download</a>:
            <a href="{% url 'vehicle:view_adhoc_attendance2' %}">Adhoc bill details</a>
        </h4>    
            <table>  
                <thead>
                    <tr>

                        <th class="text-center p-2">Requester</th>
                        <th class="text-center p-2">Requisition Date</th>
                        <th class="text-center p-2">Requisition ID</th> 
                       
                        <th class="text-center p-2">Region</th>
                        <th class="text-center p-2">Zone</th>  
                        <th class="text-center p-2">MP</th>  
                        <th class="text-center p-2">Vehicle Number</th>
                        <th class="text-center p-2">vehicle owner</th>
                        <th class="text-center p-2">owner phone</th>                                             
                        <th class="text-center p-2">Purpose</th>
                        <th class="text-center p-2"> Adhoc days</th>
                        <th class="text-center p-2" style="background-color: cyan;">Start Date</th>
                        <th class="text-center p-2" style="background-color: cyan;">End date</th>
                        <th class="text-center p-2" style="background-color: red;color:white">Adhoc Attendance</th>
                        <th class="text-center p-2" style="background-color: antiquewhite;">Level 1 Approval</th>   
                     
                        <th class="text-center p-2">Level 1 Approval Date</th>          
                        <th class="text-center p-2" style="background-color: antiquewhite;">Level 2 Approval</th>  
                      
                        <th class="text-center p-2">Level 2 Approval Date</th>        
                        <th class="text-center p-2" style="background-color: antiquewhite;">Level 3 Approval</th>
                      
                        <th class="text-center p-2">Level 3 Approval Date</th>  
                
                     
                          
                                
                    </tr>
                </thead>
                <tbody>
                    {% for requisition in page_obj %}
                    <tr>
                        <td class="text-center p-1">{{ requisition.requester }}</td>
                        <td class="text-center p-1" style="white-space:nowrap;">{{ requisition.created_at }}</td>
                        <td class="text-center p-1">{{ requisition.requisition_id }}</td>
                        <td class="text-center p-1">{{ requisition.vehicle.region }}</td>
                        <td class="text-center p-1">{{ requisition.vehicle.zone }}</td>
                        <td class="text-center p-1">{{ requisition.vehicle.mp }}</td>
                        <td class="text-center p-1" style="white-space: nowrap;">{{ requisition.vehicle.vehicle_reg_number}}</td>
                        <td class="text-center p-1" style="white-space: nowrap;">{{ requisition.vehicle.vehicle_owner_name }}</td>
                        <td class="text-center p-1">{{ requisition.vehicle.vehilce_owner_mobile_number}}</td>                       
                       
                        <td class="text-center p-1" style="white-space: nowrap;">{{ requisition.purpose }}</td>
                        <td class="text-center p-1">
                            {{ requisition.num_of_days_applied }}
                        <a href="{% url 'vehicle:edit_adhocvehicle_requisition' requisition.id %}">edit</a>
                        </td>
                        <td class="text-center p-1" style="white-space:nowrap;">{{ requisition.start_date }}</td>
                        <td class="text-center p-1" style="white-space:nowrap;">{{ requisition.end_date }}</td>
                        
                        <td class="text-center p-1">
                            {% if requisition.level1_approval_status != 'Approved' %}
                                <span style="color:red"><b>Approval pending </b></span>
                            {% elif not requisition.active_status %}
                                <span><i class="fas fa-check" style="color:green">All done</i></span>
                            {% else %}
                                {% with attendance_list=requisition.adhoc_vehicle_requisition_ref.all %}
                                    {% if attendance_list %}
                                        {% with first_attendance=attendance_list|first %}
                                            {% if first_attendance.adhoc_in_date %}
                                                <!-- If in date is present, ask for out time -->
                                                <a href="{% url 'vehicle:adhoc_outtime2' requisition.id %}">
                                                    Click for out time
                                                </a>
                                            {% else %}
                                                <!-- If in date is not present, prompt to enter in time -->
                                                <a href="{% url 'vehicle:adhoc_intime2' requisition.id %}">
                                                    Enter in time
                                                </a>
                                            {% endif %}
                                        {% endwith %}
                                    {% else %}
                                        <!-- If no attendance records exist, prompt to enter in time -->
                                        <a href="{% url 'vehicle:adhoc_intime2' requisition.id %}">
                                            Enter in time
                                        </a>
                                    {% endif %}
                                {% endwith %}
                            {% endif %}
                        </td>
                        
                
                        <!-- Level 1 Approval -->
                             <!-- Level 1 Approval -->
                    <td class="text-center p-1">
                        {% if requisition.level1_approval_status == 'Approved' %}
                        <span style="font-size: 14px;">
                            <i class="fas fa-check" style="color:green">Approved</i></span>
                        {% elif requisition.level1_approval_status == 'Rejected' %}
                            <span style="background: red; font-size: 14px;">Rejected</span>
                        {% elif request.user.manager_level == 'first_level' %}
                        <div class="mt-2 d-flex justify-content-between align-items-center">                           
                            <button class="btn btn-primary approve-btn me-2" data-id="{{ requisition.id }}" data-approval-status="Approved" data-level="level1">Approve</button>
                            <button class="btn btn-danger approve-btn" data-id="{{ requisition.id }}" data-approval-status="Rejected" data-level="level1">Reject</button>
                        </div>
                        
                        {% endif %}
                    </td>
                    <td class="text-center p-1" style="white-space: nowrap;">{{ requisition.level1_approval_date }}</td>

                    <!-- Level 2 Approval -->
                    <td class="text-center p-1">
                        {% if requisition.level2_approval_status == 'Approved' %}
                            <span style="background-color: rgb(192, 243, 75); font-size: 14px;">Approved</span>
                        {% elif requisition.level2_approval_status == 'Rejected' %}
                            <span style="background: red; font-size: 14px;">Rejected</span>
                        {% elif request.user.manager_level == 'first_level' %}
                        <div class="mt-2 d-flex justify-content-between align-items-center">
                            <!-- <label for="num_of_days_approved" class="me-2">days</label>
                            <input type="number" id="num_of_days_approved" name="num_of_days_approved" class="form-control me-2" placeholder="Enter" style="width: 150px;"> -->
                            
                            <button class="btn btn-primary approve-btn me-2" data-id="{{ requisition.id }}" data-approval-status="Approved" data-level="level2">Approve</button>
                            <button class="btn btn-danger approve-btn" data-id="{{ requisition.id }}" data-approval-status="Rejected" data-level="level2">Reject</button>
                        </div>
                        {% endif %}
                    </td>

                    <td class="text-center p-1" style="white-space: nowrap;">{{ requisition.level2_approval_date }}</td>

                    <!-- Level 3 Approval -->
                    <td class="text-center p-1">
                        {% if requisition.level3_approval_status == 'Approved' %}
                        <span style="font-size: 14px;">
                            <i class="fas fa-check" style="color:green">Approved</i></span>
                        {% elif requisition.level3_approval_status == 'Rejected' %}
                            <span style="background: red; font-size: 14px;">Rejected</span>
                        {% elif request.user.manager_level == 'first_level' %}
                        <div class="mt-2 d-flex justify-content-between align-items-center">
                            <!-- <label for="num_of_days_approved" class="me-2">days</label>
                            <input type="number" id="num_of_days_approved" name="num_of_days_approved" class="form-control me-2" placeholder="Enter" style="width: 150px;">
                             -->
                            <button class="btn btn-primary approve-btn me-2" data-id="{{ requisition.id }}" data-approval-status="Approved" data-level="level3">Approve</button>
                            <button class="btn btn-danger approve-btn" data-id="{{ requisition.id }}" data-approval-status="Rejected" data-level="level3">Reject</button>
                        </div>
                        {% endif %}
                    </td>
              
              

                        <td class="text-center p-2" style="white-space: nowrap;">{{ requisition.level3_approval_date }}</td>
                
                                       
                        
                                                  
                        
                    </tr>
                    {% endfor %}
                </tbody>
                 
                
            </table>
        </div>   
        
        
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
        

    </div>
</div>

<div class="col" style="height:1200px"></div>




<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    $('.approve-btn').click(function() {
        var requisitionId = $(this).data('id');
        var level = $(this).data('level');
        var approvalStatus = $(this).data('approval-status');
        
        // Get the value of num_of_days_approved from the input field
        // var num_of_days_approved = $(this).siblings('input[name="num_of_days_approved"]').val();

        var url = "{% url 'vehicle:adhoc_management_approval2' 0 %}".replace('0', requisitionId);
        
        $.ajax({
            url: url,
            method: 'POST',
            data: {
                'approval_level': level,
                'approval_status': approvalStatus,
                // 'num_of_days_approved': num_of_days_approved,  // Correctly sending the value
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response) {
                alert('Approval successful');
                location.reload();
            },
            error: function(response) {
                alert('Approval failed: ' + response.responseJSON.message);
            }
        });
    });
});

</script>




<script>
    function approveLevel1(requisitionId) {      
     
        $.ajax({
            url: '/adhocman:adhoc_management_approval/',
            method: 'POST',
            data: { 'requisition_id': requisitionId },
            success: function(data) {
                // Handle success response
                alert('Level 1 approval successful');
            },
            error: function(xhr, status, error) {
                // Handle error response
                alert('Error: ' + error);
            }
        });
        // For demonstration purposes, let's just show an alert
        alert('Level 1 approval for requisition ID ' + requisitionId);
    }

    function approveLevel2(requisitionId) {
        alert('Level 2 approval for requisition ID ' + requisitionId);
    }

    function approveLevel3(requisitionId) {  
        alert('Level 3 approval for requisition ID ' + requisitionId);
    }







    $(document).ready(function(){      
            var regionZoneMapping = {
                'Sylhet': ['','Sylhet', 'Moulovibazar','Mymensingh','Kisorganj','Tangail'], 
                'Rangpur': ['','Rangpur', 'Dinajpur','Bagura','Rajshahi'] ,                          
                
            };
         
            $('#id_region').change(function(){
                var selectedRegion = $(this).val();
                var zoneChoices = regionZoneMapping[selectedRegion];
                $('#id_zone').empty();
                $.each(zoneChoices, function(index, value){
                    $('#id_zone').append($('<option>').text(value).attr('value', value));
                });
            });
                  
            var zoneMpMapping = {              
                'Sylhet': ['','Sylhet','Taherpur','Sunamganj','Bianibazar','Dorbhost','Dherai','Chatak'], // Add more MPs for Sylhet zone
                'Moulovibazar': ['','Moulovibazar', 'Saestaganj','Juri','Baniachong'],
                'Mymensingh': ['','Mymensingh', 'Fulpur','Valuka'] ,
                'Kisorganj': ['','Kisorganj','Katiadi','Netrokona','Mohonpur','Austogram'],
                'Tangail': ['','Tangail','Madhupur','Jamalpur','Sherpur','Bakshihanj','Rowmari'],
               
                'Rangpur':['','Rangpur','Hatibandha','Gaibandha','Ulipur','Boropar','Polasbari'],
                'Dinajpur':['','Dinajpur','Panchghor','Jaldhaka','Thakurgaon'],
                'Rajshahi':['','Rajshahi','Bagura','Nachole','Natore','Chapai'],
                'Bagura':['','Bagura'],
                '': ['']
               
            };

       
            $('#id_zone').change(function(){
                $('#id_mp').val('');
                var selectedZone = $(this).val();
                var mpChoices = zoneMpMapping[selectedZone];

                $('#id_mp').empty();
                $.each(mpChoices, function(index, value){
                    $('#id_mp').append($('<option>').text(value).attr('value', value));
                });
            });
            
        });



</script>


{% endblock %}


