
{% extends "base.html" %}
{% load static %}

{% load duration_filters %}

{% block content %}

<style>

    table {
        border-collapse: collapse;
        width: 100%;
    
    }
    
    th,td{
        border: 1px solid black; /* Set border color for individual cells */
        text-align: left;
        padding: 0px;
    }
    
    th {
        background-color: rgb(38, 233, 129);
        
    }
    
    table thead th {
    white-space: normal;
    }
    
    .main-content {   
    overflow-y: auto;
    margin-left:0px;
    position: absolute;
    width: 100%;
    left: 0;
  
}
    
    </style>



<form method="GET" action="{% url 'generator:pg_summary_report' %}">

    <div class="container-fluid">
        <div class="row row-cols-1 row-cols-md-4">

         <div class="col" style="padding:5px; margin:5px">  Start Date:  {{ form.start_date }} </div>
         <div class="col" style="padding:5px; margin:5px">  End Date:  {{ form.end_date }} </div>
         <div class="col" style="padding:5px; margin:5px"> No of days {{ form.days }} </div>
         <div class="col" style="padding:5px; margin:5px">  Region:{{ form.region }} </div>  
         <div class="col" style="padding:5px; margin:5px">  Zone:{{ form.zone }} </div>    
         <div class="col" style="padding:5px; margin:5px">  mp:{{ form.mp }} </div>    

         <div class="col" style="padding:5px; margin:5px"> <button type="submit" class='btn btn-primary'>Generate Data</button></div>
           
        </div>
    </div>
      
    </form>




<div style="left:0px; margin-left:0px">
    <h4 style="margin-top:40px; margin-left:0px">Data for
        {% if days %}
            the last {{ days }} days
        {% elif start_date and end_date %}
            from: {{ start_date }} to {{ end_date }}
        {% endif %}
    </h4>
    

    <h2 class="text-center p-2"> PG run Summary report</h2>

    <div class="container-fluid main-content">
        <table>
            <thead>
                <tr>
                    <th class="text-center p-2">Region</th>
                    <th class="text-center p-2">Zone</th>
                    <th class="text-center p-2">PG Number</th>
                    <th class="text-center p-2">PG deployment type</th>
                    <th class="text-center p-2">PG deployed site code</th>
                    <th class="text-center p-2">Total Refill Amount</th>
                    <th class="text-center p-2">Total pump refill</th>
                    <th class="text-center p-2">Total fuel local Purchase</th>
                    <th class="text-center p-2">Total fuel cash advance taken</th>
                    <th class="text-center p-2">Total fuel cost</th>
                    <th class="text-center p-2">Total Tickets Handled</th>
                    <th class="text-center p-2">Total Run Hours</th>
                    <th class="text-center p-2">Total fuel consumed</th>
                    <th class="text-center p-2">Total fuel balance</th>
                </tr>
            </thead>
            <tbody>
                {% for item in page_obj %}
                <tr>
                    <td class="text-center p-2">{{ item.0 }}</td> <!-- Region -->
                    <td class="text-center p-2">{{ item.1 }}</td> <!-- Zone -->
                    <td class="text-center p-2">{{ item.2 }}</td> <!-- PG Number -->
                    <td class="text-center p-2">{{ item.3.PG_deploymeny_type }}</td> <!-- PG deployment type -->
    
                    {% if item.3.PG_deployed_site_code %}
                    <td class="text-center p-2">{{ item.3.PG_deployed_site_code }}</td>
                    {% else %}
                    <td class="text-center p-2">Movable</td>
                    {% endif %}
    
                    <td class="text-center p-2">{{ item.3.total_refill_amount }}</td>
                    <td class="text-center p-2">{{ item.3.total_refill_from_pump }}</td>
                    <td class="text-center p-2">{{ item.3.total_fuel_local_purchase }}</td>
                    <td class="text-center p-2">{{ item.3.total_fuel_cash_advance_taken }}</td>
                    <td class="text-center p-2">{{ item.3.total_fuel_cost }}</td>
                    <td class="text-center p-2">{{ item.3.total_tt_handle }}</td>
                    <td class="text-center p-2">{{ item.3.total_run_hour|floatformat:'2' }}</td>
                    <td class="text-center p-2">{{ item.3.total_fuel_consumed|floatformat:'2' }}</td>
                    <td class="text-center p-2">{{ item.3.fuel_balance|floatformat:'2' }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    
        <!-- Pagination -->
        <div class="pagination" style="padding: 10px;">
            <span class="step-links">
                {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; First</a>
                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}
    
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
    
                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
    


</div>

<div class="col" style="height:1200px"></div>





<script>


    $(document).ready(function(){      
      var regionZoneMapping = {
          'Sylhet': ['','Sylhet', 'Moulovibazar','Mymensingh','Kisorganj','Tangail'], 
          'Rangpur': ['','Rangpur', 'Dinajpur','Bagura','Rajshahi'] ,                          
          
      };
   
      $('#id_region').change(function(){
          var selectedRegion = $(this).val();
          var zoneChoices = regionZoneMapping[selectedRegion];
          $('#id_zone').empty();
          $.each(zoneChoices, function(index, value){
              $('#id_zone').append($('<option>').text(value).attr('value', value));
          });
      });
            
      var zoneMpMapping = {              
          'Sylhet': ['','Sylhet','Taherpur','Sunamganj','Bianibazar','Dorbhost','Dherai','Chatak'], // Add more MPs for Sylhet zone
          'Moulovibazar': ['','Moulovibazar', 'Saestaganj','Juri','Baniachong'],
          'Mymensingh': ['','Mymensingh', 'Fulpur','Valuka'] ,
          'Kisorganj': ['','Kisorganj','Katiadi','Netrokona','Mohonpur','Austogram'],
          'Tangail': ['','Tangail','Madhupur','Jamalpur','Sherpur','Bakshihanj','Rowmari'],
         
          'Rangpur':['','Rangpur','Hatibandha','Gaibandha','Ulipur','Boropar','Polasbari'],
          'Dinajpur':['','Dinajpur','Panchghor','Jaldhaka','Thakurgaon'],
          'Rajshahi':['','Rajshahi','Bagura','Nachole','Natore','Chapai'],
          'Bagura':['','Bagura'],
          '': ['']
         
      };
  
  
      $('#id_zone').change(function(){
          $('#id_mp').val('');
          var selectedZone = $(this).val();
          var mpChoices = zoneMpMapping[selectedZone];
  
          $('#id_mp').empty();
          $.each(mpChoices, function(index, value){
              $('#id_mp').append($('<option>').text(value).attr('value', value));
          });
      });
      
  });
  
  </script>





{% endblock %}