{% extends "base.html" %}
{% load static %}
{% load duration_filters %}


{% block content %}

<title>View Ticket</title>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

   
<style>

    table {
        border-collapse: collapse;
        width: 100%;
    
    }
    
    th,td{
        border: 1px solid black; /* Set border color for individual cells */
        text-align: left;
        padding: 0px;
    }
    
    th {
        background-color: rgb(38, 233, 129);
        
    }
    
    table thead th {
    white-space: normal;
    }
    #main-content {   
    overflow-y: auto;
    margin-left:0px;
    position: absolute;
    width: 100%;
    left: 0;
  
}
    
    
    </style>




<form method="GET" action="{% url 'generator:view_pg_info' %}">
    <div class="container-fluid">
        <div class="row row-cols-1 row-cols-md-4">      
         <div class="col" style="padding:5px; margin:5px">  Region:{{ form.region }} </div>  
         <div class="col" style="padding:5px; margin:5px">  Zone:{{ form.zone }} </div>    
         <div class="col" style="padding:5px; margin:5px">  mp:{{ form.mp }} </div>    
         <div class="col" style="padding:5px; margin:5px">  PG Number:{{ form.PGNumber }} </div> 
         <div class="col" style="padding:5px; margin:5px"> <button type="submit" class='btn btn-primary'>Generate Data</button></div>
           
        </div>
    </div>
      
    </form>



<div class="container-fluid" id ='main-content'>
    <h1>PG database</h1>
    <table>
        <thead>
            <tr>

                <th class="text-center p-2">Action</th>
                <th class="text-center p-2">Action</th>
             
                <th class="text-center p-2">Region</th>
                <th class="text-center p-2">Zone</th>
                <th class="text-center p-2">MP</th>            

                <th class="text-center p-2">PG admin</th>
                <th class="text-center p-2">PG code</th>
                <th class="text-center p-2">PG Number</th>
                <th class="text-center p-2">PG Status</th>
                <th class="text-center p-2"> PG brand</th>
                <th class="text-center p-2"> PG serial number</th>

                <th class="text-center p-2">PG capacity</th>
                <th class="text-center p-2"> PG supplier</th>
                <th class="text-center p-2">PG purchase date</th>

                <th class="text-center p-2"> PG hire date</th>
                <th class="text-center p-2"> PG supporting documents</th>                
                <th class="text-center p-2">Created at</th>
                <th class="text-center p-2">Updated at</th>
            </tr>
        </thead>
        <tbody>
            {% for pg in page_obj%}

            <tr>

                <td class="text-center p-2"style="white-space: nowrap;"><a  href="{% url 'generator:update_pg_database' pg.id %}" style="text-decoration:none;">Updata database</a></td>                          
                <td class="text-center p-2"style="white-space: nowrap;"><a  href="{% url 'generator:update_pg_status' pg.id %}" style="text-decoration:none;">Update PG</a></td>                          
               
                <td class="text-center p-2"style="white-space: nowrap;">{{ pg.region }}</td>
                <td class="text-center p-2"style="white-space: nowrap;">{{ pg.zone }}</td>
                <td class="text-center p-2"style="white-space: nowrap;">{{ pg.mp }}</td>
                <td class="text-center p-2"style="white-space: nowrap;">{{ pg.PG_add_requester }}</td>
                <td class="text-center p-2"style="white-space: nowrap;">{{ pg.PG_code }}</td>             
                <td class="text-center p-2" style="white-space: nowrap;">{{ pg.PGNumber }}</td>

                <td class="text-center p-2" style="white-space: nowrap;">{{ pg.PG_status }}</td>
                
                <td class="text-center p-2" style="white-space: nowrap;">{{ pg.PG_brand }}</td>

                <td class="text-center p-2"style="white-space: nowrap;">{{ pg.PG_serial_number }}</td>
                <td class="text-center p-2"style="white-space: nowrap;">{{ pg.PG_capacity }}</td>
                <td class="text-center p-2"style="white-space: nowrap;">{{ pg.PG_supplier }}</td>
                <td class="text-center p-2"style="white-space: nowrap;">{{ pg.PG_purchase_date }}</td>
                <td class="text-center p-2"style="white-space: nowrap;">{{ pg.PG_hire_date }}</td>
                <td class="text-center p-2"style="white-space: nowrap;">
                    {% if pg.PG_supporting_documents %}
                    <a href="{{ pg.PG_supporting_documents.url }}" target="_blank">
                        <img src="{{ pg.PG_supporting_documents.url }}" alt="Supporting Document" style="cursor: pointer; width: 50px; height: 50px;">
                    </a>
                    {% else %}
                    No image available
                    {% endif %}
                </td>   

                <td class="text-center p-2"style="white-space: nowrap;">{{ pg.created_at }}</td>
                <td class="text-center p-2"style="white-space: nowrap;">{{ pg.updated_at }}</td>
               
            </tr> 
            {% endfor %} 
        </tbody>
    </table>

    <div class="pagination" style="padding:10px">
        {% if page_obj.has_previous %}
            <a style="margin:10px; font-size: 14px;" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
        
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <span style="margin:10px; font-size:14px">{{ num }}</span>
            {% else %}
                <a style="margin:10px; font-size:14px"href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}
        
        {% if page_obj.has_next %}
            <a style="margin:10px; font-size:14px"href="?page={{ page_obj.next_page_number }}">Next</a>
        {% endif %}
    </div>



</div>


<h4 style="height:400px"></h4>
<div class="col" style="height:600px"></div>



{% endblock %}